@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("hackerrank.com") {
    #wrapper, #hr_v2, #row, #challengeAccordion, .page_footer, body, .feed-wrapper,
    .outer-feed-wrapper, .user-education-popup.text-center { 
        background-color: #333333;
        color: white;
    }
    .chapter-item, #challengeAccordion, #breadcrumb .content-header, #contest-challenges-problem,
    .boundA.curved.mlB.mmR.pdA.track-box, .boundA.curved.mlB.mmL.pdA.track-box, .unstyled.psT.psB,
    .light-wrap, .table-wrap, .comments-container, .has-string, .CodeMirror-empty, .CodeMirror,
    #comment-preview, pre, .clearfix, .row.padding-small, .table-wrap > header, #select2-drop,
    .select2-results-dept-0, a.select2-choice.select2-default, .select2-result-label, .calloutBody,
    .editorial-header-box, .editorial-code-box, p.small.bold, #pref-pane, #profileTabs,
    .select2-no-results, .all-notif-settings li, .all-notif-settings ul, .dropdown-menu, .tab-head,
    .table-body, .span5, .tourbus-leg, .submission-model-panel, .CodeMirror-linenumber,
    .hr-dialog-header, .hr-dialog-body, .hr-dialog-footer, .hide-in-private-contest a, #languages,
    .plA, .nav-tabs.ungroup > li a,
    .table-striped tbody tr:nth-child(2n+1) th, .table-striped tbody tr:nth-child(2n+1) td,
    .feed {
        background-color: #363636 !important;
        color: lightgrey;
    }
    #contest-challenges-problem .btn.btn.backbone.start.pull-right,
    .block-center.blackbone.expand-subdomains.cursor.color-alt-grey, .txt-navy,
    label, #tab-spaces, input[type="text"], .static-input, a.title-link.inverse {
        color: #0A8A8A;
    }
    div.discussion-root-node-knob, code, html {
        background: #363636;
        background-color: #363636
    }
    a.backbone {
        color: #0D9D9D;
    }
    .view-more.text-center.small.bold, .btn.btn.backbone.start.pull-right, .btn, .nav-tabs.nav,
    .btn.btn, .pagination a, .pagination .active a, .select2-search input,
    .select2-container, .select2-choice a, .select2-container .select2-choice,
    .select2-container .select2-choice div, .dropdown-toggle .select, .dropdown-toggle .indent,
    .sidebar_list-heading.active, .cat-item {
        background-color: #363636 !important;
        color: #855500;
        background-image: linear-gradient(to bottom, #363636, #222) !important;
    }
    .nav-tabs:not(.ungroup) > li.active a, .all-notif-settings, .msB, .hr_secondary-btn {
        background-color: #363636;
        color: lightgrey !important;
    }
    #breadcrumb .bold.small {
        color: #E59500;
    }
    #navigation .page-header {
        background-color: #303030;
    } 
    .btn.difficulty.active, #HackerRank-homepage .toggle {
        background-image : linear-gradient(to bottom, #565656, #424242) !important;
    }
    /* Code editor */
    .cm-variable {
        color: #A76012 !important;
    }
    .cm-keyword {
        color: #8B9305 !important;
    }
    .CodeMirror pre {
        background-color: #464646 !important;
        color: darkorchid !important;
    }
}