@-moz-document regexp("^https?:\\/\\/((chat|meta|es|ja|pt|ru)\\.)*stackoverflow\\.com.*"), domain("serverfault.com"), domain("superuser.com"), domain("stackapps.com"), domain("mathoverflow.net"), domain("askubuntu.com"), regexp("^https?:\\/\\/((?!(area51|gaming|rpg)).*\\.)?stackexchange.com.*") {
  /***************************************************************
  Stack Overflow Dark v2.9.24 (9/15/2016)
  https://github.com/StylishThemes/StackOverflow-Dark
  http://userstyles.org/styles/35345

  ** Will apply to almost all Stack Exchange Sites **
  Except:
  * Area 51 (area51.stackexchange.com)
  * Gaming (gaming.stackexchange.com)
  * Rope Playing Games (rpg.stackexchange.com)

  ** Please open an issue to report sites where the style breaks **
  https://github.com/StylishThemes/StackOverflow-Dark/issues

  previous version information contained at the userstyles site
****************************************************************/

  * {
    border-color: #444 !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }

  body {
    background-color: #191919 !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
  }

  /* custom code font */
  pre.prettyprint {
    font-family: "Menlo", Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  }

  /* === custom color === */
  a, .profile-popup a, .seWrapper a, .post-tag, .comments-link, .tag-synonym-link, .gs-title b,
  .spoiler:hover a {
    color: #4183C4 !important;
  }

  .nav .primarynav li a:hover, .message.message-config .actions .button, .btn-careers:hover,
  .btn-careers:visited {
    color: #fff !important;
    background: #4183C4 !important;
  }

  .post-tag:hover, .comments-link:hover, .summary .post-tag:hover , .commentslink, .bounty-indicator,
  .bounty-indicator-tab, .bounty-award, span.bounty-indicator-tab, #change-picture, .top-badge,
  .supernovabg, .hotbg, .nav li.youarehere a, .nav a:hover, a.button:hover, .edit-count, .pager a:hover span {
    background-color: #4183C4 !important;
    color: #eee !important;
  }

  #tabs a.youarehere:before, .tabs a.youarehere:before,
  .newnav .tabs-list-container .tabs-list .intellitab a.youarehere:before {
    background-color: #4183C4 !important;
  }

  /* === text selection === */
  ::selection {
    background: #4183C4 !important;
    color: #fff !important;
  }
  ::-moz-selection {
    background: #4183C4 !important;
    color: #fff !important;
  }

  /* === input focus hightlight === */
  input:focus, textarea:focus {
    border-color: #4183C4 !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 2px #4183C4 !important;
    outline-color: transparent !important;
  }
  .tag-editor input:focus, .previous-button, .next-button {
    border: 0 !important;
    box-shadow: none !important;
  }

  /* === hidden === */
  div.hireme, div#hireme, .next-answer-hook-container, .intellitab:after {
    display: none !important;
  }

  /* === background color === */
  /* from darkest to lightest grey */
  .search-container input[type=text] {
    background-color: #000 !important;
  }
  .popup-badges .all-badge-progress .completed:before, .previous-button, .next-button, header, #footer {
    background-color: rgba(0,0,0,0.4) !important;
  }

  #custom-header, .review-bar, .diff-choices a.selected, #header #topbar, td.owner, a.owner, .question-status,
  .profile-popup, .profile-popup div, .profile-popup th, .profile-popup td, #global, .actual-edit-overlay,
  input:not([type='submit']), textarea, #search input, .tag-editor {
    background-color: #111 !important;
    color: #ddd !important;
  }

  .summary .post-tag, .onebox, .profile-ad, .message.message-config {
    background: #151515 !important;
  }

  html, blockquote, #post-preview, .nav .primarynav li a, #chat, #hsearch .textbox, .form-item, .grippie,
  .welovestackoverflow, #wmd-button-bar, .wmd-button-bar, .qa-block, .content-block, .user-info-rep, .sidebar,
  .popup, .full-diff {
    background: #191919 none !important
  }

  .authcomment, .seIntro, .seFooter {
    background-color: #191919 !important;
    border: 2px solid #262626 !important;
  }

  #tabs a {
    border: 1px solid transparent !important;
  }

  #tabs a.youarehere, .tabs a.youarehere, .tag-suggestions, .dropdown li {
    background: #191919 !important;
    border-color: #444 !important;
  }
  .tabs a.youarehere {
    border-bottom: 0 !important;
  }

  #user-about-me, .user-about-me, .mine .messages, .avatar-card, .tag-container, .dropdown {
    background: #191919 !important;
    border: 0 !important;
    color: #C1BEBA !important;
  }

  #chat .mine .messages {
    background-color: #292929 !important;
    border: 1px solid #444 !important;
  }

  #chat .messages .mention {
    background: #666666 !important;
  }

  #chat div.moderator {
    color: #366fb3 !important;
  }

  .topbar-dialog, .topbar-dialog .header, .share-tip, #input-area, .messages,
  #tag-menu, .sidebar h3, #overlay-header, .action-list .action-selected, .switcher-nudge-lightbox,
  .user-rep-chart-summary-tooltip:hover, .current-site-container, #or, .account-number {
    background-color: #222 !important;
    color: #ddd !important;
  }

  .profile-popup, .profile-popup tr, .profile-popup th, .profile-gravatar, .newuser, .roomcard,
  .seWrapper, h2.index.header, .privilege-table-row:hover, .list-originals .item.hover,
  .list-originals .body-summary, .review-instructions-reason, .room-mini, #formContainer, #switch,
  .login-topbar, .newsletter-category, .newsletter-item, .blogcontainer, .usercard-xxl, .roomcard-xxl {
    background-color: #222 !important;
    border-color: #555 !important;
    color: #ddd !important;
  }

  #header #topbar, .revision-comment, .date-span, .post-tag, .form-submit input, .preferred-login,
  .mdhelp, .wmd-help-button.active-help, .date_brick, .more-info, .review-stats-current-user,
  .review-stats-count-current-user {
    background: #222 !important;
    color: #ddd !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
  }
  .calendar, .calendar-small, .mspark .mspbar, #promo-box, #input-area .input-hint,
  .tour-page .feature-selection li a.triggered, .ob-docs {
    background: #222 !important;
  }

  .tour-page .tour-content section:nth-child(n+1) {
    background: rgba(34,34,34,.5) !important;
  }

  .ad502-room, .message.message-config .actions, .tag-container .col, .congrats, .task-stat-table td {
    background-color: #232323 !important;
    border: 1px solid #191919 !important;
  }

  .rep-recent-row, .bounty, .diff-choices a:hover, div.meter, .narrow .votes, .ob-post-votes, .card,
  .congrats {
    background-color: #232323 !important;
    color: #bbb !important;
  }

  .answer, #system-message, .commentlist, .revision td, #hero-content, .mdhelp-tabs .selected, .tabs .selected,
  .rep-card .rep-col {
    background: #232323 !important;
    color: #999 !important;
  }

  .container, .tour-page .headline, .tour-page .cta {
    background-image: none !important;
  }

  .tagged-interesting, .tagged-interesting .views, .highlight-row, .highlighted, .card.rep-card .graph,
  .popup-badges .badge-progress:hover:not(.completed), #newsletter-ad {
    background-color: #242424 !important;
    background-image: none !important;
  }

  #newsletter-ad {
    padding: 10px !important;
  }
  #newsletter-ad:before {
    content: 'Love this site?';
    font-size: 18px !important;
  }

  .youarehere, .dropdown li.selected a, .dropdown li.selected a:hover, .ob-docs .example-metric {
    background: #333 !important;
    color: #ccc !important;
  }

  .nav li, .seNav, .topbar a.topbar-icon-on, .topbar a.topbar-icon-on:hover, .owner, .nav a,
  .module li.current, .seCurrent, .community-bulletin, .owner-revision td, .markdown-diff .skip,
  #footer .container, .body-diffs .skip, .newsletter-anon, .tag-suggestions>div:hover,
  .topbar-dialog .modal-content li:hover, .timestamp:hover+div.message .meta, div.message:hover .meta,
  #side-menu ul li a:hover, .conversation-info, .message.reply-parent, .message.reply-child,
  .sidebar-element .list li .rep-and-badges, .congrats .actions, .newsletters-toggle,
  .tag-suggestions>div:focus {
    background-color: #333 !important;
  }

  .owner-answer, .question-status, .notification, #feed-ticker, #top-menu, .vote-revision td,
  .topbar-dialog .unread-item, .privileges-wrapper .stroke, .progress-bar .bar {
    background: #404040 !important;
  }

  tr.comment:hover, .reply-parent, .timestamp, .usercard, .page-numbers.current,
  .comment-help, .answer-help-background, .mdhelp-tabs, .tabs li, .hi, .seNavLinks a:hover,
  .seNavLinks a:focus, .itemBoxNew {
    background-color: #444 !important;
    color: #ddd !important;
  }

  #post-text-container div span {
    background: #c1beba !important
  }

  .sidebar-element .list li .rep-and-badges:before {
    background: linear-gradient(270deg, #333, rgba(51,51,51,0));
  }

  /* === Brown(ish) === */
  .new-post-activity, #new-answer-activity, .val-info, .highlight, a.youarehere:before {
    background-color: rgba(51,34,17,.4) !important;
  }

  /* chat room buttons */
  a.button {
    background: #840 !important;
    color: #eee !important;
  }

  /* === Green === */
  .accepted-answer, .suggested-edit .inserted, .markdown-diff .inserted, .rep-increase, .progress-bar .percent,
  .recommended, .vote.accepted, .suggested-edit .inserted>div, .full-diff .inserted>div {
    background: #232 !important;
  }

  span.diff-add {
    background: #3F4E1D !important;
    color: #92CC09 !important;
  }

  /* accepted answer code blocks */
  .accepted-answer pre, .accepted-answer code, .accepted-answer pre.prettyprint,
  .accepted-answer .prettyprint .pln, .accepted-answer .youarehere, .accepted-answer pre:not(.prettyprint) {
    background: #202A20 !important;
  }

  .answered, .answer-votes, .answered .vote-count-post {
    background: #232323 !important;
    color: #4b553c !important
  }

  .answered-accepted, .answered-accepted strong, .rep-up.bounty-indicator-tab, .user-rep-chart-summary-bar,
  .special-rep {
    background: #4b553c !important;
    color: #fff !important
  }

  .answered strong {
    color: #4b553c !important
  }

  /* === Red === */
  .deleted-answer, .suggested-edit .deleted, .markdown-diff .deleted, .suggested-edit .deleted>div,
  .full-diff .deleted>div, .realtime-post-deleted-notification p {
    background-color: #200 !important;
  }
  span.diff-delete {
    background-color: #400f00 !important;
    color: #ff4a15 !important;
  }

  .summary a.moderator-tag {
    background-color: #400 !important;
  }

  .summary a.moderator-tag:hover {
    background-color: #600 !important;
  }

  /* === Transparent background === */
  div.message .meta, .spaces, .comment, span.feed-icon, a.role-switch, .nav.careers li, .nav.careers li:hover,
  .switcher-nudge-content p, #content, #tabs a, .tabs a, #chat .username, #chat .messages, .tag-container,
  .prettyprint code, .lv-info, .lv-stats-wrapper, .lv-stats-wrapper .number, .container, .bottom-notice,
  #question-header, .question-form .form-item, .post-menu>a:hover, a.comments-link:hover, #main-content,
  #mainbar, #mainbar-full, .mainbar-full, #logout-page, #sidebar, .footerwrap, #footer-menu, .module,
  #sidebar #newsletter-ad, #sidebar .ad-container, #sidebar .everyonelovesstackoverflow, .mention,
  .tag-suggestions>div .more-info, .user-tags .answer-votes, .expanded:hover {
    background-color: transparent !important;
  }

  #tabs a:hover, .tabs a:hover {
    background-color: #191919 !important;
    border: 1px solid #444 !important;
  }

  .highcharts-container rect[fill="#FFFFFF"], rect[fill="rgb(255, 255, 255)"] {
    fill: transparent !important;
  }
  .spoiler, .spoiler * {
    color: transparent !important;
  }
  .spoiler:hover, .spoiler:hover * {
    color: inherit !important;
  }

  /* === Dark border === */
  .body-diffs table * {
    border-color: #111 !important;
  }

  .welovestackoverflow, .question-summary, .subheader {
    border-color: #333 !important;
  }

  a.required-tag {
    border-color: #555 !important;
  }

  .message .message-tip-top-right:before, .message .message-tip-top-left:before {
    border-bottom-color: #191919 !important;
  }

  .left-arrow {
    border-right-color: rgba(119,119,119,0.4) !important;
  }
  .previous-button:hover .left-arrow {
    border-right-color: #c0c0c0 !important;
  }
  .right-arrow {
    border-left-color: rgba(119,119,119,0.4) !important;
  }
  .next-button:hover .right-arrow {
    border-left-color: #c0c0c0 !important;
  }
  #input-area .input-hint:after {
    border-left-color:#222 !important;
  }

  /* === No/hide border === */
  div.list > div {
    border-right: 0 !important;
  }
  .module, .tabs a, div.message, .full-diff td, .post-tag:not(.required-tag) {
    border-color: transparent !important;
  }
  .left-arrow, .right-arrow {
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
  }
  div.message:hover, .timestamp:hover + div.message {
    visibility: inherit;
    border: 1px dotted #333;
  }

  /* blue label count */
  .bounty-indicator-tab, .hero.profile {
    background: #046 !important;
    color: #ccc !important;
  }

  /* === Text Color === */
  div, input, .accepted-answer .post-text, .accepted-answer .user-action-time, #question-header a,
  .post-text, .user-info, .topbar-dialog .header h3, .topbar-dialog .header h3 a, .topbar-dialog span,
  .search-result .answered .vote-count-post strong, .votes-cast-stats th, .subheader h1, .vote.accepted,
  .message.message-config h1, .message.message-config h2, .message.message-config h3, .message.message-config h4,
  .spoiler:hover {
    color: #ddd !important;
  }

  /* placeholder */
  ::-webkit-input-placeholder {
    color: #ddd !important;
  }
  ::-moz-placeholder {
    color: #ddd !important;
  }

  .user-details td, .content-page, h2, h2 a, .profile-popup a:hover, .module h4, .page-description,
  #openid_identifier, .form-item label, .subheader h2 {
    color: #c1beba !important
  }
  .comment, #top-menu a, .subheader a, .reputation a, .reputation-score, .relativetime.old,
  .votes-cast-stats td, .mini-counts span, #chat .system-message, .card .rep, a.badge, a.badge-tag,
  .user-card .user-stats .number, .user-card .user-card-name {
    color: #aaa !important;
  }
  .ob-post-tag, .ob-user-tag {
    color: #999 !important;
  }

  .answered-accepted strong, .youarehere, .nav .primarynav li a, .nav a, a:hover, .rep-up.special-rep {
    color: #fff !important
  }

  input, .actual-edit-overlay {
    -webkit-text-fill-color: #fff !important;
  }

  a:visited {
    color: #4183C4 !important;
  }
  .rep-up {
    color: #4b553c !important;
  }
  .rep-down {
    color: #d65 !important;
  }

  /* dark blue */
  .result-highlight {
    color: #aa0 !important;
  }

  /* brown/dark orange */
  .warm {
    color: #840 !important;
  }

  /* orange */
  .hot {
    color: #a20 !important;
  }

  /* light brown */
  .unanswered {
    color: #9a4444 !important;
  }

  /* === Style adjustments === */
  a.question-hyperlink, a:hover, a:visited {
    text-decoration: underline !important;
  }

  .nav a, .post-tag, .comments-link, .tag-synonym-link, a.post-tag:hover, .topbar a {
    text-decoration: none !important;
  }

  .form-item {
    padding-left: 20px !important;
  }

  .post-tag, .comments-link, .tag-synonym-link {
    margin: 2px !important;
    padding: 3px !important;
    line-height: 1.9em !important;
    white-space: nowrap !important
  }

  .tag-container .col {
    margin: 0 !important;
    border: #333 1px solid !important;
  }
  .tag-container.row {
    margin: 2px !important;
  }
  .stats {
    margin-top: 5px !important;
  }
  #hsearch, .statscontainer {
    margin-right: 5px !important;
  }
  .stats {
    margin-bottom: 4px !important;
  }

  .nav .primarynav li a, .list-originals .stats {
    display: block !important;
    float: left !important
  }

  /* === badges === */
  a.badge[title^="bronze"], a.badge-tag[title^="bronze"], .badge3 + .badgecount {
    color: #cc9966 !important;
  }
  a.badge[title^="silver"], a.badge-tag[title^="silver"], .badge2 + .badgecount {
    color: #c5c5c5 !important;
  }
  a.badge[title^="gold"], a.badge-tag[title^="gold"], .badge1 + .badgecount {
    color: #ffcc46 !important;
  }
  .badge-tag, a.tag, .ob-post-tag, .ob-user-tag, .events-tooltip {
    background-color: #191919 !important;
    border-color: #111 !important;
  }
  .badge3-alternate, .progress-bar.badge-3 .bar .percent {
    background-color: #7C4318 !important; /* bronze */
  }
  .badge2-alternate, .progress-bar.badge-2 .bar .percent {
    background-color: #464a4f !important; /* silver */
  }
  .badge1-alternate, .progress-bar.badge-1 .bar .percent {
    background-color: #957000 !important; /* gold */
  }

  /* === Images === */
  .wmd-button>span {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/wmd-buttons.png) !important;
  }

  #hlogo img, .everyonelovesstackoverflow { opacity: 0.3 !important; }

  #hlogo a, #footer-logo {
    background-repeat: no-repeat !important;
  }

  #footer-logo {
    background-size: contain !important;
  }

  #header-logo img, #footer-logo img {
    visibility: hidden !important;
  }

  #sound, .vote-count-container.stars .img {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
  }

  .axis .tick, .pie text {
    fill: #ccc !important;
  }
  .axis line, .axis path {
    stroke: #999 !important;
  }

  /*New navigation tabs*/
  .intellitab a {
    background: transparent !important;
    border: none !important;
  }
  .intellitab.selected a {
    background-color: rgba(51, 51, 51, .5) !important;
  }
  .intellitab .menu-switcher {
    background-color: #333 !important;
  }
  .intellitab .menu-switcher:hover{
    background-color: #222 !important;
  }
  .intellitab.dropdown-enabled:hover .menu-switcher, .intellitab .dropdown a:hover {
    background-color: #444 !important;
  }
  .dropdown:before {
    filter: invert(76%) !important;
    -webkit-filter: invert(76%) !important;
  }
  /* documentation editing icons */
  .docs-menu a {
    -webkit-filter: brightness(200%) !important;
    filter: brightness(200%) !important;
  }
  .docs-menu:hover a {
    -webkit-filter: none !important;
    filter: none !important;
  }

  /* override prettyprint bright border styles */
  .prettyprint {
    border-color: transparent !important;
    color: #ddd !important;
  }
  /* style non-prettyprint code */
  code, pre:not(.prettyprint) {
    background: #333 !important;
  }
  .prettyprint code {
    background: transparent !important;
  }

  /*! Tomorrow Night Eighties */.prettyprint{background:#2d2d2d!important;font-family:Menlo,'Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Consolas,monospace!important;line-height:1.4em!important;padding:10px!important}.pln{color:#ccc!important}@media screen{.str{color:#9c9!important}.kwd{color:#c9c!important}.com{color:#999!important}.typ{color:#69c!important}.lit{color:#f99157!important}.pun{color:#ccc!important}.opn{color:#ccc!important}.clo{color:#ccc!important}.tag{color:#f2777a!important}.atn{color:#f99157!important}.atv{color:#6cc!important}.dec{color:#f99157!important}.var{color:#f2777a!important}.fun{color:#69c!important}}@media print,projection{.str{color:#060!important}.kwd{color:#006!important;font-weight:700!important}.com{color:#600!important;font-style:italic!important}.typ{color:#404!important;font-weight:700!important}.lit{color:#044!important}.clo,.opn,.pun{color:#440!important}.tag{color:#006!important;font-weight:700!important}.atn{color:#404!important}.atv{color:#060!important}}ol.linenums{margin-top:0!important;margin-bottom:0!important}

}

/* These extra @-moz-document definitions will not be included in the "grunt user"
 * build because Chrome Stylish puts these extra definitions into separate sections
 * with separate regexp/domain definitions.
 * If the css below changes, it will have to be manually updated
 */

/* === StackExchange tweaks ===
_____ _           _   _____         _                      _                 _
|   __| |_ ___ ___| |_|   __|_ _ ___| |_ ___ ___ ___ ___   | |_ _ _ _ ___ ___| |_ ___
|__   |  _| .'|  _| '_|   __|_'_|  _|   | .'|   | . | -_|  |  _| | | | -_| .'| '_|_ -|
|_____|_| |__,|___|_,_|_____|_,_|___|_|_|__,|_|_|_  |___|  |_| |_____|___|__,|_,_|___|
|___|
*/
@-moz-document domain("stackexchange.com") {
  /* login screen StackExchange logo replacement */
  .login-page .se-logo {
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    background: url(http://StylishThemes.github.io/StackOverflow-Dark/images/stackexchange-logo.svg) no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    width: 200px !important; /* Width of new image */
    height: 48px !important; /* Height of new image */
    padding-left: 200px !important; /* Equal to width of new image */
  }
  /* login button (input type=button")*/
  .login-page input.fr {
    background-color: #4183C4 !important;
  }
  /* remove content border */
  #content {
    border: 0 !important;
  }
  #sidebar #newsletter-ad, #sidebar .ad-container, #sidebar .everyonelovesstackoverflow {
    border-width: 2px !important;
  }
  /* start blog.stackexchange.com */
  .cse .gsc-control-cse, .gsc-control-cse, div.pagination {
    background-color: #181818 !important;
  }
  .sidebar p {
    color: #ddd !important;
  }
  .job {
    color: #888 !important;
  }
  .gsc-control-wrapper-cse {
    padding-top: 10px !important;
  }
  /* hide google custom search placeholder */
  .gsc-input input:not(.gse-input-focus) {
    background-image: none !important;
  }
  .podcast-container {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
  }
  /* end blog.stackexchange.com */
  /* chat.stackexchange.com */
  .event-banner {
    background-color: #222 !important;
    border-color: #555 !important;
  }
}
@-moz-document regexp("^https?:\\/\\/((?!(academia|dba|electronics|tex)).*\\.)?stackexchange.com.*") {
  /* target sites to *NOT* hide the header background */
  #header, #hmenus {
    background-color: transparent !important;
  }
  #header {
    background-image: none !important;
  }
}
@-moz-document regexp("^https?:\\/\\/((academia|dba|electronics|tex)\\.)?stackexchange\\.com.*") {
  /* target sites that need an inverted header */
  #header, #header > * {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
  }
}
@-moz-document regexp("^https?:\\/\\/((academia|chess|english|meta|movies|salesforce|skeptics|judaism|ux)\\.)?stackexchange\\.com.*") {
  /* target sites needing menu adjustments */
  .nav.mainnavs li, .nav.askquestion li {
    background-color: transparent !important;
  }
  .nav.mainnavs, .footerwrap {
    background-image: none !important;
  }
  .nav.mainnavs li {
    margin: 0 6px !important;
  }
  .nav.mainnavs li a, .nav.askquestion li a {
    padding: 6px !important;
    margin: 2px !important;
    border-radius: 3px !important;
  }
}
@-moz-document regexp("^https?:\\/\\/((android|photo|programmers|wordpress)\\.)?stackexchange\\.com.*") {
  /* darken everything that uses sprite.svg (vote arrows, feed icons, etc) */
  .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off,
  .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, .feed-icon, .vote-accepted-off, .vote-accepted-on,
  .vote-accepted-bounty, .badge-earned-check, .delete-tag, .expander-arrow-hide, .expander-arrow-show,
  .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .gp-share, .fb-share, .twitter-share,
  #notify-container span.notify-close, .migrated.to, .migrated.from {
    -webkit-filter: invert(100%) hue-rotate(180deg) brightness(1.1) !important;
    filter: invert(100%) hue-rotate(180deg) brightness(1.1) !important;
  }
}
@-moz-document regexp("^https?:\/\/((photo|security|wordpress)\\.)?stackexchange\\.com.*") {
  /* nav manu text coloring only */
  .nav li.youarehere a, .nav li a:hover,
  .nav li.youarehere a, .nav li a:hover {
    background-color: transparent !important;
    color: #ddd !important;
  }
  .nav li.youarehere a, .nav li a:hover {
    color: #4183C4 !important;
  }
}
@-moz-document regexp("^https?:\/\/((android|apple|dba|drupal|gis|mathematica|photo|scifi|security|tex|wordpress)\\.)?stackexchange\\.com.*") {
  /* hide top nav background on <li>, style is on <a> */
  .nav li {
    background-color: transparent !important;
  }
}
@-moz-document regexp("^https?:\/\/((android|apple|dba|gamedev|movies|salesforce|scifi|security|tex|ux|webapps|webmasters)\\.)?stackexchange\\.com.*") {
  /* darken vote off buttons */
  .vote-up-off, .vote-down-off, .star-off {
    -webkit-filter: brightness(.5) !important;
    filter: brightness(.5) !important;
  }
}
/*
@-moz-document regexp("^https?:\\/\\/((?!(android|apple|dba|drupal|electronics|gamedev|gis|mathematica|programmers|salesforce|security|sharepoint|tex|unix|ux|webapps|webmasters|wordpress)).*\\.)?stackexchange.com.*") {
/ * BETA SITES * /
  div.nav ul li {
    margin-right: 5px !important;
  }
  .nav a {
    padding: 4px 6px !important;
  }
}
*/
/* === site specific (somewhat alphabetical order by (sub)domain) ===
_ _                          _ ___ _
___|_| |_ ___    ___ ___ ___ ___|_|  _|_|___
|_ -| |  _| -_|  |_ -| . | -_|  _| |  _| |  _|
|___|_|_| |___|  |___|  _|___|___|_|_| |_|___|
|_|
*/
@-moz-document domain("stackoverflow.com") {
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/stackoverflow-logo.svg) !important;
  }
}
@-moz-document domain("chat.stackoverflow.com") {
  /* chat.stackoverflow.com */
  #hlogo a {
    background-image: none !important;
  }
  #header-logo, #footer-logo {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/stackoverflow-logo.svg) !important;
  }
  #header-logo {
    background-size: contain !important;
  }
}
@-moz-document domain("askubuntu.com") {
  #header {
    background-image: none !important;
  }
  .narrow div.votes, .answered-accepted .mini-counts {
    background-color: transparent !important;
  }
  #custom-header .nav-global, #custom-header .nav-global ul, .topbar {
    background-color: #000 !important;
  }
  #custom-header .more.open, .topbar .profile-me:hover, .topbar a:hover, .topbar-icon:hover, #hmenus, .nav li, .nav a {
    background-color: #111 !important;
  }
  #custom-header .nav-global a {
    border-top-color: transparent !important;
  }
  #custom-header .nav-global a.active {
    color: #eee !important;
    border-top-color: #eee !important;
  }
  .nav li.youarehere, .nav li:hover {
    background-color: #4183C4 !important;
  }
}
@-moz-document domain("dba.stackexchange.com") {
  /* database administrators */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/database-admin-logo.svg) !important;
  }
}
@-moz-document regexp("http://stackoverflow\.com/documentation.*") {
  /* documentation beta moved into Stackoverflow */
  .examples .example:hover, .example.expanded, div.sidebar, .timestamp,
  .syntax .syntax-html, #tabs a, .tabs a, .intellitab a {
    background: transparent !important;
  }
  .doctag-cards .card-top, .proposal-cell, .button, .btn, .btn-clear, input, .panel-empty, .version-line,
  .container.example-expanded:not(.split-disabled) .split-pane-examples, .vertical-option,
  .search-doctag-popdown {
    background-color: #181818 !important;
  }
  .version-name, .version-row, .example-metric, .edit-summary, .first-time-container, .current-draft,
  a.selected, .diff-choices a:hover, .diff-type-controls a:hover, .doctag-cards .card-bottom, .proposal-details,
  .bubble-message .left-pane, .bubble-message .right-pane, .vertical-option:hover,
  .side-by-side-markdown .skip-row {
    background-color: #222 !important;
  }
  .vertical-option:hover, .split-option:hover, .expand-all-examples:hover, .collapse-all-examples:hover,
  .examples .example-expansion-chevron:hover, .examples .example.collapsed:hover .example-expansion-chevron {
    background-color: rgba(50,50,50,.6) !important;
  }
  input.request-topic-button, .search-doctag-popdown .section-items a:hover {
    background-color: #333 !important;
  }
  .btn-outlined, .topic-title.change-modifies, .syntax.change-modifies, .parameters.change-modifies,
  .remarks.change-modifies, .remarks-subsection.change-modifies,
  .split-disabled .example.expanded.change-modifies, .versions.change-modifies {
    border-color: #484848 !important;
  }
  a.button, input[type="button"]:hover, button:hover, .button:hover, .btn:hover, button:focus,
  .button:focus, .btn:focus, .btn-clear:hover {
    background-color: #4183C4 !important;
    color: #ddd !important;
  }
  .btn-outlined:hover {
    border-color: #4183C4 !important;
  }
  .relativetime, .edit-summary .edited-sections li:not(.example-list).section-being-edited {
    color: #ddd !important;
  }
  .topic-request-vote-up .vote-arrow {
    border-color: transparent transparent #fff transparent !important;
  }
  /* score box hidden behind up vote arrow, why? */
  .collapsed-example-score {
    visibility: hidden !important;
  }
  .syntax .syntax-html li {
    padding: 0 !important;
  }
  .syntax .syntax-html code {
    padding: 10px 0 10px 10px !important;
  }
  /* add padding because footer is semi-transparent and has "position:relative" set */
  .split-pane-examples {
    padding-bottom: 520px !important;
  }
  /* blue */
  .hero-box, .hero-box .blue ,input[type="submit"].btn-secondary, input[type="button"].btn-secondary,
  button.btn-secondary, .btn-secondary, .privacy-switch-btn, .topic-request-vote-up, .message-info {
    background: #182030 !important;
  }
  .message-tip-top-center:before {
    border-bottom-color: #182030 !important;
  }
  /* brown */
  .handling-improvement-request, .shared-draft, .topic-request, .shared-draft, .pending-review,
  .deleting-topic, .has-changed, .missing-example, .pending-proposed-change, .undeleting-topic,
  .undeleting-example, .edit-notifications, .hero-box .btn, .moved, .section-help {
    background: rgba(51,34,17,.4) !important;
    border-color: #542 !important;
    color: #b74 !important;
  }
  .edit-notifications .view-proposed-change:hover, .edit-notifications .view-latest-draft:hover,
  .edit-notifications .accept-chat-invite:hover {
    background-color: rgba(51,34,17,.8) !important;
  }
}
@-moz-document domain("electronics.stackexchange.com") {
  /* electrical engineering */
  .nav li, .nav li a, .nav li a:hover, .nav li.youarehere a, .answered-accepted .mini-counts {
    background-color: transparent !important;
  }
}
@-moz-document domain("english.stackexchange.com") {
  /* english language & usage */
  .post-signature.owner {
    background-image: none !important;
  }
}
@-moz-document domain("es.stackoverflow.com") {
  /* es.stackoverflow.com (Spanish) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/es-stackoverflow-logo.svg) !important;
  }
}
@-moz-document domain("meta.es.stackoverflow.com") {
  /* meta.es.stackoverflow.com (Spanish) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/es-meta-stackoverflow-logo.svg) !important;
  }
}
@-moz-document domain("graphicdesign.stackexchange.com") {
  /* nav manu text coloring only */
  .nav li, .nav li.youarehere a, .nav a, .nav a:hover,
  #footer .top-footer-links, #footer #footer-sites, .narrow .votes, .narrow .mini-counts,
  .answered, .answered-accepted {
    background-color: transparent !important;
    color: #ddd !important;
  }
  .nav li.youarehere a, .nav li a:hover {
    color: #4183C4 !important;
  }
  .answered-accepted .mini-counts span {
    color: #fff !important;
  }
  .about-page .new-about-content-page h2.about-title {
    color: #888 !important;
  }
  body:before {
    -webkit-filter: brightness(.3) !important;
    filter: brightness(.3) !important;
  }

  .answered-accepted .mini-counts {
    background-color: #4b553c !important;
    color: #ddd !important;
  }
  .answered .mini-counts span {
    font-weight: bold !important;
    color: #4b553c !important
  }
}
@-moz-document domain("ja.stackoverflow.com") {
  /* ja.stackoverflow.com (Japanese) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/ja-stackoverflow-logo.svg) !important;
  }
}
@-moz-document domain("meta.ja.stackoverflow.com") {
  /* meta.ja.stackoverflow.com (Japanese) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/ja-meta-stackoverflow-logo.png) !important;
  }
}
@-moz-document domain("mathoverflow.net") {
  /* mathoverflow.net */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/mathoverflow-logo.png) !important;
  }
}
@-moz-document domain("meta.stackoverflow.com") {
  /* meta.stackoverflow.com */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/meta-stackoverflow-logo.svg) !important;
  }
  #sidebar .community-bulletin .bulletin-item-content a, #sidebar .community-bulletin .bulletin-item-content a:hover {
    color: #4183C4 !important;
  }
  #sidebar .community-bulletin .bulletin-item-content a:hover {
    color: #fff !important;
  }
}
@-moz-document domain("photo.stackexchange.com") {
  #custom-content {
    background-image: none !important;
  }
  .post-tag, .comments-link, .tag-synonym-link {
    line-height: 1.4em !important;
  }
  .vote-count-post {
    color: #777 !important;
  }
}
@-moz-document domain("programmers.stackexchange.com") {
  /* programmers.stackexchange.com */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/programmers-logo.svg) !important;
  }
  /* programmers.stackexchange.com specific tweaks */
  /* menu & section underline extensions (wrong color) */
  #hmenus .nav ul li.youarehere a:before, #hmenus .nav ul li a:hover:before,
  #hmenus .nav ul li.youarehere a:after,  #hmenus .nav ul li a:hover:after,
  #header:before, #header:after, #question-header:before, #question-header:after,
  .subheader:before, .subheader:after {
    display: none !important;
  }
  #header {
    border-bottom: 0 !important;
  }
  /* target sites that don't need a menu background color */
  .nav li, .nav a, .nav li.youarehere a, .nav a:hover {
    background-color: transparent !important;
  }
}
@-moz-document domain("pt.stackoverflow.com") {
  /* pt.stackoverflow.com (Portuguese) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/pt-stackoverflow-logo.svg) !important;
    height: 70px !important;
  }
}
@-moz-document domain("meta.pt.stackoverflow.com") {
  /* pt.stackoverflow.com (Portuguese) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/pt-meta-stackoverflow-logo.svg) !important;
  }
}
@-moz-document domain("ru.stackoverflow.com") {
  /* ru.stackoverflow.com (Russian) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/ru-stackoverflow-logo.svg) !important;
    height: 70px !important;
    width: 225px !important;
  }
}
@-moz-document domain("meta.ru.stackoverflow.com") {
  /* meta.ru.stackoverflow.com (Russian) */
  #hlogo a {
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/ru-meta-stackoverflow-logo.svg) !important;
  }
}
@-moz-document domain("salesforce.stackexchange.com") {
  .star-on {
    -webkit-filter: brightness(.9) !important;
    filter: brightness(.9) !important;
  }
}
@-moz-document domain("serverfault.com") {
  /* serverfault.com */
  #hlogo a {
    background-size: cover !important;
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/serverfault-logo.svg) !important;
  }
  .container .answered, .container .answered-accepted {
    border: 2px transparent !important;
    padding: 5px 5px 6px 5px !important;
    height: 38px !important;
  }
}
@-moz-document domain("stackapps.com") {
  /* stackapps.com */
  #hlogo a {
    background-size: cover !important;
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/stackapps-logo.png) !important;
  }
}
@-moz-document regexp("^https?:\\/\\/stackexchange\\.com.*") {
  /* stackExchange.com */
  header h1 {
    height: 60px !important;
    background-size: cover !important;
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/stackexchange-logo.svg) !important;
  }
}

@-moz-document domain("superuser.com") {
  #hlogo a {
    height: 60px !important;
    background-size: cover !important;
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/superuser-logo.svg) !important;
  }
}
@-moz-document domain("meta.superuser.com") {
  #hlogo a {
    height: 60px !important;
    background-size: cover !important;
    background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/meta-superuser-logo.svg) !important;
  }
}
@-moz-document domain("wordpress.stackexchange.com") {
  #hlogo a {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
  }
  #hmenus, .module {
    background-image: none !important;
    border: 1px solid #333 !important;
    border-width: 1px 0 !important;
  }
  .module {
    border-top-width: 0 !important;
  }
  /* override !important flag set in site css */
  a.question-hyperlink {
    color: #4183C4 !important;
  }
  a.question-hyperlink:hover, a.question-hyperlink:visited {
    color: #aaa !important;
  }
}
