/*================================

    Youtube Cinema Mode Windowed Fullscreen
      by Andy Cormack

      http://ac-design.co.uk/
      @groundxaero

    v1.0.1
    Last updated: 2016/07/24

================================*/
@-moz-document regexp('https://www\\.youtube\\.com/watch.*') {
    /* Autohide masthead when not mouse over instead of being in the way all the time */
    #masthead-positioner {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    #masthead-positioner:hover {
        opacity: 1;
    }
    #masthead-positioner-height-offset {
        height: 0 !important;
    }

    /* Remove padding on top when player is there */
    #page-container #page #player {
        padding-top: 0;
    }
    #page-container #page #player.off-screen {
        padding-top: 1em;
    }

    /* Player sizing */
    .watch-stage-mode #player #player-api.player-api.player-width.player-height {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    .watch-stage-mode .player-height {
        height: 100vh;
    }
    
    /* Playlist position fix */
    .watch-stage-mode #player-playlist .watch-playlist {
        top: 10px;
        transform: translateY(100vh);
    }
}