# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{Vagrant,Cap,Rake,Gem}file]
indent_size = 2

[*.{el,rb,cr,lua,y{a,}ml,json,toml,nim,coffee,css,s{a,c}ss,styl,slim,jade,pug,html,{,z}sh}]
indent_size = 2

[*.go]
indent_style = tab

[{Makefile,gitconfig}]
indent_style = tab
