/* Created by PanosBabo on 9 March 2012, last updated on 06/January/2017 */

@-moz-document domain(youtube.com)
{

body, #content, #watch-headline-container, #watch-video-container, #watch-main-container, .footer .yt-uix-pager, .splitter, #mymedia #view-pane .settings, #mymedia #view-pane .actions, #mymedia #table .video.even, #mymedia #table .video-details.even, #mymedia #table .video.odd, #mymedia #table .video-details.odd, #mymedia #view-pane .footer, #mymedia #table, #no-playlists, .searchFooterBox .yt-uix-pager, input:not(.yt-uix-form-input-checkbox), .feedmodule-anchor, textarea, #record-tab-content, .vert-bar, .message td, .msg-subject-open .subject, .shows-table, .shows-table .alt td, #google_companion_ad_div, #watch-show-brand-div, #watch-channel-brand-div, #user_playlist_navigator, #main-channel-content, .watch-next-list-actions, .ux-thumb-96, .multiple-promoted, #quicklist-bar-container, #vm-pageheader-container h1, #vm-page-subheader, #vm-video-actions-inner, #yt-admin h1, #folder_title, #theForm *, #footer-container, #vm-playlist-header, #page.watch-branded #watch-sidebar, #yt-admin-content h2, #mymedia #table, #yt-admin #table, #page, #watch-description .expand, #watch-description .collapse, #yt-admin.recommendations, #watch-owner-container, #annotator-div, .yt-uix-button-menu-item, .browse-bg-gradient, #page.search-movies-browse #content-container, .overlay, #help-target, #watch7-content, #playlist-pane-container .video-tile:hover,#playnav-title-bar,#video-sidebar .video-list-item:hover,#watch-sidebar .video-list-item a:hover, .metadata-container,
#guide-container, #upload-item-0, .video-settings-tag-chips-container, .vk-btn, body #footer-container, .subtab-content, #builder-preview-pane, body>iframe+table table, .feed-promo, #yt-admin-content, .account-container, #watch7-action-panel-footer, .yt-alert-panel, .lohp-shelf-cell-container:hover, .guide-module-toggle-label, .guide-context-item.context-playing:hover a, a.context-back-link.yt-uix-sessionlink, #watch7-video-container, .yt-uix-form-input-select-element, #watch-response, .metadata-tab, #vm-pagination, .vm-video-metrics a:hover, #feed-promo-returning-user-no-subs, .site-left-aligned #footer-hh-container, #creator-editor-container, tr.ab-users:nth-child(2n+1), .ab-midpane, #main-content .upload-item, .site-left-aligned #footer-container, #player, #clickYoutubeD_dropDownSpan, .related-channels-editor:hover, .secondary-header-contents, #page-container, #player-legacy, #appbar-guide-menu, .id-revert-buttons-container, #bottom-notes-section, .timedtext-content, #non-appbar-vm-video-actions-bar, .howto-promo-container, .channel-ad-fan-finder-banner, .downloadLinks, .menuArrows, LI.feed-item-container, .yt-card, #masthead-expanded-container.with-sandbar, #masthead-appbar, .yt-creator-tip-item-container, .yt-dialog-bg, .yt-uix-overlay-bg, .yt-dialog-footer, #comments-view .comment:hover, .yt-uix-sessionlink:not(.sprite-like):not(.sprite-dislike), #theater-background, .yt-masthead-account-picker-option, .yt-masthead-picker-footer, #body-container, #player-mole-container, .all-comments, .all-comments a, .comment-simplebox-content > .comment-simplebox, #yt-masthead-notifications-content
{
    background: black !important;
}

input[type="text"], textarea
{
    -moz-appearance: none !important;
}

.watch-ppv-vid, .video-list-item-link:hover, .video-list-item-link:hover, #watch-comments-core .current, #watch-comments-core .current .wrapper, .promoted-videos, #search-duplicates-message, #fyf_container, .yt-uix-button-menu-item:hover, .browse-categories-side, #browse-video-channels-modifiers, .main-tabs-spotlight-inner .video-entry, .hot-trends-cloud-inner-area, .yt-menubutton-menu li a:hover, #mymedia #list-pane .subfolder.selected, .yt-menulink-menu li a:hover, .yt-menulink-menu span a:hover, .yt-suggest-selected .yt-suggest-left, .yt-suggest-selected .yt-suggest-right, .yt-suggest-selected .grayText, .yt-suggest-close, .gray-tab-box-header, .groupnamecont.selected, #movie-promo-body, .watch-pyv-vid, #starting-box, .upload-inner-box, .outer-box-bg-color, .cpline:hover, div[class="watch-active-list-body-collapsed hover"] a, a[class="video-list-item-link selected"], .vm-vertical-nav a.selected, #folderlinks a.selected, .playnav-item .selector, .outer-box-bg-color, .outer-box, .yt-uix-hovercard-card-body, .ppv-promoted-videos, .featured-result, #watch-description-extra-info .link-list a:hover, #watch-description-extra-info .full-link a:hover, #spotlight-list .playlist-badge, #recent-column .playlist-badge, .show-onebox .left-pane, span.yt-badge-std, a.yt-badge-std, #watch-customize-embed-size .radio-selected .watch-embed-radio-box, .watch-embed-radio-box, .comment:hover, #personalized-sub-recs .channel-cell:hover, #ppv-container, #vm-video-list-container .selected,
#post-channel-comment-message, .gssb_m tr:hover *, .gssb_i td, .suggested-channels-v2, .guide-subscriptions-upsell, #kbd, #vm-bulk-actions-selection, .comment-settings-header, #dialog .header, .vm-video-item.vm-member-item.selected, .action-panel-trigger.yt-ui-menu-item:hover, .comments .channel-owner .comment-header .user-name, #yt-comments-sb-standin .box, .comments .mod-list-button {
    background: #222222 !important;
}

.subheader, .yt-lockup2:hover, #link-gplus-lb, .before-after-container, .before-container, #link-gplus-lb .dialog-title, #link-gplus-lb .dialog-header, #subscription-manager-container .even td, .creator-editor-nav, tr.ab-users, .selection-list-item.yt-uix-expander-head.playlist.select-on-click.selected, .video-picker-item:hover, #dftpop-content.content, .dashboard-widget-header:hover, #vm-bulk-actions-editing-header, .vm-beauty-view .vm-video-item-content, #help #dialog, #help .suggestions-container, #inproduct-guide-modal, .yt-uix-kbd-nav.yt-uix-kbd-nav-list, .share-email-preview-container, .yt-uix-menu-content.yt-ui-menu-content:not(.yt-uix-menu-content-external), .comments .mod-list-button:hover
{background-color: #111 !important;}

#howto-addto, .guide-context-item a:hover, .guide-context-item.context-playing a, .item-badge-label, .yt-badge, .yt-uix-dragdrop-drag-handle.pl-video-handle.yt-valign, .pl-video:hover .yt-uix-dragdrop-drag-handle, .yt-uix-dragdrop-cursor-follower, .message.closed.m_highlight, .message.m_highlight.open, .mod-list
{background: #222 !important;border-color: #222 !important;}

.dashboard-widget-header, .dashboard-widget-content, .dashboard-widget-padded-content, .dashboard-widget.notification, .distiller-first-time-promo .content, #watch7-creator-bar, .yt-uix-dragdrop-cursor-follower, .yt-commentbox-text, .yt-simplebox-text, .comment-simplebox-renderer-collapsed-content, .comment-simplebox-text, .live-chat-widget .comment:nth-of-type(2n), .live-chat-widget .comment
{background: #222 !important; border-color: #555 !important;}

div.yt-uix-button-menu > table, .vm-quick-edit-video, .vm-quick-watch-video, .vm-quick-delete-video, #watch8-action-buttons .yt-uix-button:hover, #appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item:hover
{
    background: #444444 !important;
}

#quicklist-tray .yt-uix-slider-slide, #masthead-expanded, #masthead-expanded-menu-shade, #quicklist-notifications, #watch-description-fadeout, #quicklist .yt-uix-slider-shade-left, body.rtl #quicklist .yt-uix-slider-shade-right, #quicklist .yt-uix-slider-shade-right, body.rtl #quicklist .yt-uix-slider-shade-left
{
    background: none !important;
}

#masthead-search.consolidated-form input, body, #watch-headline-title, .watch-expander-head, .yt-uix-pager .yt-uix-button, .video-list-item .stat, .video-description, .show-description, .episode-description, .channel-description, .movie-description, .show-long-description, .show-short-description, .show-mini-description, .video-facets, .channel-facets, .playlist-facets, .playlist-main-stats, .movie-facets, .trailer-facets, .show-facets, .mini-list-view .video-view-count, .mini-list-view .rental-price, .mini-list-view .video-username, #search-duplicates-message, .video-stat span, .feedmodule-subnull-txt, .homepage-whats-new-content, textarea, .grayText, .groupnamecont, .message td, .metadata, .inner-box-colors, .inner-box, .vm-video-list .vm-video-desc, .vm-video-metrics dd, .homepage-already-opted-in-promo, .feedmodule-ts, .yt-video-box, .new-snippets .video-view-count, .new-snippets .playlist-video-count, .new-snippets .channel-video-count, .video-count, .comment .metadata, .comment .metadata-inline, .video-username, .shmoovies-list-container .show-rental-facets .rental-price, .shmoovies-list-container .movie-rental-facets .rental-price, .shmoovies-list-container .popular-show-list .show-cell .show-extrainfo, .yt-uix-hovercard, .yt-uix-hovercard-card .description, #search-base-div, #vpl-description, .yt-browse-section-header ol, #watch-uploader-info, #watch-description-extra-info li, #watch-description-extra-info .watch-likes-dislikes, #watch-description-extra-info .watch-likes-dislikes .dislikes,
#videos-main #recent-column .playlist-video-count, span.yt-badge-std, #yt-admin-recommendations p, #homepage-whats-new .entry, .subscription-menu-form, .subscription-recommendations, .instructions span, .search-refinements-block-title, .username-prepend, .yt-alert-content, #masthead-expanded .list-title, .yt-uix-button-content, .video-list-item .stat, .watch-view-count, .comments-section h4, .watch-module-body h4, .message.unread *, #watch7-headline .yt-uix-expander-head, #watch-headline-show-title, #watch-uploader-info strong, #eow-date.watch-video-date, #eow-title
{
    color: #cccccc !important;
}

a, .video-list-item .title, .yt-uix-pager .yt-uix-pager-selected, .yt-uix-expander-head, .yt-uix-button, .watch-comments-post, .comment-highlight-section-header, #watch-headline-title, .video-description b, .show-description b, .episode-description b, .channel-description b, .movie-description b, .show-long-description b, .show-short-description b, .show-mini-description b, #search-section-header .name, #search-related-terms .search-related-title, .yt-uix-button-menu-item, .video-stat, #no-videos, ul.pickers, #no-playlists, .browse-modifiers-extended .selected, .video-list-item .stat strong, input, .fm-title-underlined-blue, .feedmodule-subnull-txt-header, .iyt-edit-link, .groupnamecont.selected, .shmoovies-list-container #recent-column h4, .shows-table .extra, .homepage-block-heading, #chrome-promo-hp .tagline, #watch-category span, #watch-tags span, .title-text-color, #playnav-curvideo-title, .feedmodule-smtitle, .comments-section h4, .watch-module-body h4, #watch-description-extras h4, #yt-admin h1, .vm-video-list .vm-video-info, .vm-video-metrics dt, #quicklist-notifications, #search-header, #search-header .num-results, .shmoovies-list-container h2, .shmoovies-list-container h3, .shmoovies-list-container h4, #show-content th, .yt-uix-hovercard-card .info, .yt-uix-hovercard-card .footer, .yt-uix-hovercard-card h3, .video-type strong, .viewcount, .snippet-metadata li.views, .yt-browse-section-header h1, #mymedia .entity-header h1, .page-tabs a, .radio-label, #homepage-whats-new .module-title, .homepage-side-block .module-title, #watch-owner-inline-edit #inline-edit-cancel, .label, .ytg-wide button, #insight-ratings td, #shmoovies-category-heading h2, #categories-container .ytg-4col h2, #categories-container .ytg-2col h2, .yt-alert-message, .added-to-message-title, #playlist-editor-heading h2, #masthead-expanded h3, #masthead-expanded-menu-label
{
    color: white !important;
}

#watch-discussion, .branded-page-v2-container.no-top-row .branded-page-v2-primary-col, .branded-page-v2-container.has-top-row, .editor-content, .tab-bg, #inline-editor-main, #mymedia, .primary-col, body #footer-hh-container, .feed-item-container, .branded-page-v2-primary-col, .branded-page-v2-col-container.clearfix, .branded-page-v2-col-container-bottom-border, #gh-checklist, .todo-item, .yt-dialog-fg, .yt-uix-overlay-actions, .branded-page-v2-secondary-col, #masthead-appbar-container, #dashboard-header, #yt-masthead-user-card-actions, .live-welcome-intro, .guide-flyout.guide-flyout-visibility, .yt-ui-menu-content
{
background: black !important;
border-color: black !important;
}

.logo.yt-sprite:not([usemap]) {background-image: url("https://i.imgur.com/V3yefDa.png") !important;}

.logo.yt-sprite:not([usemap])
{
    width: 0px !important;
    padding-left: 100px !important;
    height: 39px !important;
    background-position: 0px 0px !important;
    background-size: auto auto !important;
    margin-right: -28px !important;
}
#logo {z-index: 1; position:relative;}
    
/*New improvements*/    
.yt-ui-ellipsis:before {content: none !important;}
#watch8-action-buttons, .yt-card .yt-uix-tabs, #appbar-guide-menu {border: none !important;}
.yt-uix-button-expander.yt-uix-expander-head.yt-uix-expander-collapsed-body,
.yt-uix-button-expander.yt-uix-expander-head.yt-uix-expander-body, #watch-more-related-button
{width: auto !important; margin: auto !important;}
#watch-like-dislike-buttons .yt-uix-button  {padding-right: 7px !important;}
#message_reading {background-color: black !important;}
#appbar-guide-menu {top: 7px !important;}
.yt-uix-tabs .yt-uix-button-group .yt-uix-button {padding-top: 3px !important;}
.action-panel-content .report-video-confirmation {background-color: #efefef;}
.comments .comment-item .mod-button .default-state.sprite_like, .comments .comment-item .mod-button .default-state.sprite_dislike {opacity: 0.9 !important;}
.yt-uix-button-has-icon {opacity: 1 !important;}

/*End*/
    
.pl-header-privacy-everyone {background-image: url("http://i.imgur.com/k4yhpM1.png") !important;
background-position: 0px -378px !important;}
.pl-header-privacy-limited-sharing {background-image: url("http://i.imgur.com/k4yhpM1.png") !important;
background-position: -49px -1404px !important;}
.pl-header-privacy-only-me {background-image: url("http://i.imgur.com/k4yhpM1.png") !important;
background-position: -51px -203px !important;}

/*New layout*/
#page-container{margin-top:10px !important;}
#appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item
{padding-left: 8px !important; padding-right: 8px !important; height: 33px !important; border-radius: 2px !important;}
#appbar-nav .yt-uix-button-content {bottom: 5px !important; position: relative;}
#appbar-guide-button {background: none !important; border: none !important; position: relative;}
#appbar-guide-button .yt-uix-button-icon-appbar-guide, #appbar-guide-button .yt-uix-button-arrow {opacity: 0.5 !important;}
#watch-appbar-playlist .playlist-info
{
  height: auto;
  line-height: inherit;
  padding: 4px 5px 0px;
}
#appbar-guide-button-notification-check {left: 20px !important;}

/*Search box*/
.masthead-search-terms-border {border-color: #444 !important;}
#gs_id50 {background: black !important; border-color: #444 !important;}
#gs_st50.gsst_b {background-color: #222 !important;}

@media screen and (min-resolution: 96dpi) {
#masthead-search-term.search-term.yt-uix-form-input-bidi {
    padding-bottom: 4px !important;
    border: none !important;
}
#gs_id50 {margin-top: -1px !important; background: black !important; border-color: #444 !important;}
}
/*End*/

.yt-uix-form-input-checkbox-element, #upload-btn, #appbar-settings-button, #appbar-guide-button-notification-check {border-radius: 2px !important;}

.c4-spotlight-module-component, .branded-page-box-padding, #google-cookie-alert {border-color: #111 !important;}

.guide-count.yt-uix-tooltip.yt-valign {padding-left: 1px!important; border-radius: 2px !important;}

#eow-title.watch-title.watch-editable, #action-panel-details, .c4-module-is-editable:not(#c4-header-bg-container), .c4-module-editor-form, .compact-shelf, .empty-shelf, .video-player-view-component, #channel-subheader, #channel-feed-post-form, #video-page-subnav, #footer-main, .comment-simplebox-renderer {background: black !important; border-bottom-color: #111 !important;}

#player-unavailable {z-index: 1 !important;}

#masthead-expandedz
{
    display: block !important;
    height: 134px !important;
    overflow: hidden !important;
    -moz-transition: all .3s ease-out !important;
    -webkit-transition: all .3s ease-out !important;
    -o-transition: all .3s ease-out !important;
}

#masthead-expanded.collapsedz, #masthead-expanded.hidz  {height: 0px !important;}

/*1-click Yt-downloader*/
#clickYoutubeD_downloadButton {border: 1px #444 solid !important; color: #ccc !important; padding-left: 30px !important; width: 70px;}
.downloadLinks:hover {background: #222 !important;}
/*End*/

.yt-uix-button-playlist-remove-item {width:20px!important;}

#share-panel-buttons .yt-uix-button, .gssb_e, #message_reading, .feed-header, #channels-search-field {border-width: 0px !important; border: 1px solid #333 !important;}

.action-panel-trigger.yt-uix-button.yt-uix-button-text.yt-uix-tooltip.yt-uix-button-empty {width:30px !important;} 
.vm-beauty-view .vm-video-item {border: 1px #444 solid !important;}

@media screen and (-webkit-min-device-pixel-ratio:0) {.action-panel-trigger img {right: 5px !important; position: relative;}
#masthead-search-term.search-term.yt-uix-form-input-bidi {border: none !important; padding-top: 6px !important; padding-bottom: 4px !important;}}

#channel-search
{
height: 30px !important;
width: 23px;
}

#channel-navigation-menu li, .html5-compatibility-table li, #watch8-action-buttons .yt-uix-button, .watch8 #action-panel-dismiss:hover , .yt-uix-tabs .yt-uix-button-group .yt-uix-button
{
-moz-appearance: none;
border-width: 0px !important;
border-radius: 2px !important; border: 1px solid #333 !important; 
background: linear-gradient(#333333, #000000) !important;
background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)) !important;
}

#channel-navigation-menu li {height: 31px !important;}

#watch7-secondary-actions.yt-uix-button-group {margin-right: 30px !important; margin-top: 3px !important;}

.yt-thumb-20, .appbar-nav-avatar, .yt-thumb-square-28, .yt-thumb-square-48, .yt-thumb-28, .yt-thumb-48, #c4-header-bg-container, #dftpop-content.content, .comments .comment-item .user-photo {border: 1px #222 solid !important; border-radius: 4px !important;}

a.yt-uix-button.yt-uix-pager-button.yt-uix-button-toggled, .yt-uix-button-group.epic-nav-dropdown-group, .epic-nav-item-empty.selected.yt-uix-button.yt-uix-button-epic-nav-item.yt-uix-button-empty, .sb-card-border
{box-shadow: 0px 0px 4px #6294df !important;}

.yt-admin-h3:focus, .yt-uix-sessionlink.yt-user-name {outline: 0px #000 !important;}

.yt-uix-sessionlink.yt-uix-button-epic-nav-item.yt-uix-button-size-default.yt-uix-button-empty, .content-region, .ad-div, #yt-hitchhiker-feedback, .yt-uix-card-body-arrow-vertical, #clickYoutubeD_downloadArrow, #comments-view hr, .callout-inner, .callout-outer, .yt-simplebox-arrow-inner, .yt-simplebox-arrow-outer, .comment-simplebox-arrow .arrow-inner, .comment-simplebox-arrow .arrow-outer
{display: none !important;}

.watch-card, #watch7-sidebar#watch7-sidebar, #watch7-sidebar, .vm-video-item.vm-label-item, .vm-video-item.vm-member-item, .channel-layout-two-column .tab-content-body, body #masthead-expanded-container, .feed-item-container, .feed-author-bubble, .yt-uix-clickcard-target.yt-uix-button.yt-uix-button-link, .filter-content, #watch7-player-unavailable, #link-gplus-lb .dialog-header, .yt-picker-content button, #channel-search.expanded, .watch-playlists-drawer .selected, .yt-ui-ellipsis, .yt-uix-ellipsis, .yt-uix-expander-ellipsis, .g-hovercard.yt-uix-sessionlink.yt-user-name, .vtitle .yt-uix-sessionlink, .subscription-title.yt-uix-sessionlink, #watch-appbar-playlist .playlist-title a, #watch-appbar-playlist .author-attribution a, .yt-dialog-base .yt-dialog-header, #logo-container
{background: transparent !important;}

.pl-video.yt-uix-tile, .pl-header.branded-page-box, #appbar-guide-menu.appbar-menu, .search-header, .guide-section-separator, .vm-video-metrics, .vm-video-actions-inner, .vm-video-item-content, .vm-video-item.vm-member-item, .vm-video-item.vm-label-item, #guide-container-expanded .guide-item:hover, #guide-container-expanded .guide-item.guide-selected, .feed-item-container, .yt-playall-link-default, .subscription-item, #yt-uix-videoactionmenu-menu, .playlists.yt-uix-scroller, .watch-sidebar-separation-line
{
border-color: #363636 !important;
}

.video-extras-sparkbar-likes {
    background-color: #559900 !important;
}

.comments .like-count, .comment-renderer .comment-renderer-like-count.off {
    color: #559900 !important;
}

.video-extras-sparkbar-dislikes {
    background-color: #BC281C !important;
}

.yt-uix-button:not(.yt-uix-button-epic-nav-item):not(.yt-alert):not(.close):not(.yt-uix-button-link):not(.action-panel-trigger):not(.html5-control):not(.html5-volume-button):not(.html5-control-right):not(.yt-uix-button-player-controls):not(.sprite-like):not(.sprite-dislike), .playlist-items, .watch-comments-post, .comments-post-alert, #mymedia #table #headings td, .yt-menubutton .yt-menubutton-btn, .yt-menubutton .yt-menubutton-arr, .yt-button, .fm-title-underlined-blue, .fm-title-underlined-gray, #statmodules_inbox-title, .sorterbar th, #masthead-container, .watch-module-head, .homepage-block-heading, .action-bar-ratings-stats, #heading-filter, #quicklist-bar, #masthead-subnav, #vm-playlist-actions a,
#show-content th, #mymedia #table #headings td, #yt-admin #table #headings td, #user-navbar-sections li a, #playlist-bar-bar-container, .browse-collection .yt-uix-slider-nums, .social-service, #yt-masthead-container, .branded-pager-header-title, .feed-header, #yt-hitchhiker-feedback, #watch-description-collapse .yt-uix-button, #watch-description-expand .yt-uix-button, #gb .gbes, .social-connector, .tab-header, .upper-section, .channel-horizontal-menu, #branded-page-header, .yt-uix-tabs-selected, #playlist-bar-bar, .yt-uix-form-input-select-content, #audio-ui-featured-table-container thead td, th.ab-users-head, #uploader-progress,
.epic-nav-dropdown-group, .yt-uix-button-epic-nav-item.yt-uix-button-empty, .yt-uix-button-epic-nav-item:not(.yt-uix-button-active):not(.yt-uix-button-empty)
{
    -moz-appearance: none;
    background: black !important;
    background: -moz-linear-gradient(center top , #333333, #000000) repeat scroll 0 0 #000000 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)) !important;
}

.yt-subscription-button-subscriber-count-unbranded-horizontal, .yt-subscription-button-subscriber-count-branded-horizontal, .yt-subscription-button-subscriber-count-unbranded-vertical, .sort-playlists-container, .new-playlist-privacy, button.yt-uix-button.yt-uix-button-primary, .yt-chip, .yt-uix-button.yt-uix-sessionlink.yt-uix-button-primary, #sb-button-notify, .guide-item.yt-uix-sessionlink.guide-item-selected, #appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item, .comments .paginator 
{
    -moz-appearance: none;
    background: black !important;
    background: -moz-linear-gradient(center top , #333333, #000000) repeat scroll 0 0 #000000 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)) !important;
    border: 1px #444 solid !important;
}

#yt-masthead-container, .yt-grid-box, .yt-masthead-hh, #masthead-expanded-container
{
border-bottom: 1px #000 solid !important;
}

#gbx3, .gbes
{
background-color: #333 !important;
border-bottom: 1px #333 solid !important;
}

.guide-count, .yt-ui-menu-item:hover
{
background-color: #333 !important;
}

.guide-section, #watch7-headline, #watch7-user-header, #watch7-action-buttons, #watch7-action-panels, #watch7-discussion, .yt-horizontal-rule
{
background-color: black !important;
border: 1px #000 solid !important;
}

#default-language-box, #filter-dropdown, .playlist-items
{
background-color: #000 !important;
box-shadow: 0px 0px 2px #CCC !important;
}

#yt-picker-language-footer, #yt-picker-country-footer, #yt-picker-safetymode-footer 
{
background-color: #000 !important;
border: 1px #444 solid !important;
}

.yt-uix-clickcard-card-body, #yt-uix-clickcard-card2
{
background-color: black !important;
border: 0px !important;
box-shadow: 0px 0px 3px #444 !important;
}

#safety-mode-off, #safety-mode-on, .yt-uix-form-input-checkbox-element
{
background-color: #fff !important;
}

.yt-uix-button:hover:not(.yt-alert):not(.action-panel-trigger):not(.close):not(.yt-uix-button-link):hover:not(.html5-control):not(.html5-volume-button):not(.html5-control-right), .yt-button:hover, #vm-playlist-actions a:hover, #watch-description-collapse .yt-uix-button:hover, #watch-description-expand .yt-uix-button:hover, #user-navbar-sections li a:hover
{
     background: #333333 !important;
}

.yt-uix-subscription-button, .yt-uix-button.yt-uix-button-appbar, #watch-info, .yt-button, .yt-menubutton-menu, .browse-tab-modifiers, .main-tabs-spotlight-inner, .browse-categories-side, .hot-trends-cloud-area, [class="watch-module-body"], #side-column, #feed_all, #shmoovies-category-menu-container, #shmoovies-category-heading .yt-uix-expander-head, #spotlight-list .playlist-badge, #recent-column .playlist-badge, .show-onebox
{
    border: 1px #333333 solid !important;
}

.yt-uix-form-input-text:not(:focus), .lohp-medium-shelves-container, .lohp-blog-headline, .lohp-large-shelf-container, .lohp-newspaper-shelf, .lohp-shelf-cell-container, #show-content th, .yt-uix-hovercard-card-border, .page-tabs a, span.yt-badge-std, a.yt-badge-std, .yt-uix-button-menu, h4, .module-title, .yt-uix-expander-head, .subscription-menu-expandable, .inline-edit-more, #annotator-select-menu .yt-uix-button-menu-item td, #playlist-bar-bar-container, .yt-menubutton .yt-menubutton-btn, .yt-menubutton .yt-menubutton-arr, .yt-uix-button, #watch-channel-discoverbox, .watch-expander-head, #watch-actions-area, #content.watch-wide #watch-sidebar .watch-active-list .watch-module-head, #content.watch-wide #watch-sidebar .watch-active-list .watch-module-body, .search-setting-inner, #watch-sidebar .watch-module-expandable .watch-module-head, .watch-module-body, #page #masthead-container, .outer-box-bg-as-border, #upload-interface, .upload-outer-box, #baseDiv #side-column, .action-bar-ratings-stats, .watch-extra-info, div[style*="background-color: rgb(238, 238, 238)"], #yt-uix-videoactionmenu-menu
{
    border-color: #444444 !important;
}

.watch-sparkbars, .watch-sparkbar-likes, #masthead-utility a, #watch-owner a
{
    border-color: #888888 !important;
}

#masthead-utility a.end, .yt-menubutton .yt-menubutton-arr img, .yt-menubutton .yt-menubutton-arr button, .sorterbar th
{
    border-left: 0px !important;
}

#search-header, .branded-page-v2-subnav-container
{
    border-bottom: 0px !important;
}

.GJOPA4DCEBB, .GJOPA4DCHBB, .GJOPA4DCHU, .GO1CBYXDNBB, .GJOPA4DCIBB, .GJOPA4DCFBB, .GJOPA4DCLBB, .GO1CBYXDKBB, .GO1CBYXDN4, .GJX2AKGCLCB.GJX2AKGCMCB,
.GJX2AKGCLFB.GJX2AKGCAGB, .GJX2AKGCMY, #gwt-debug-bragBar, .GJX2AKGCHJ, .GJX2AKGCI- td, .GJX2AKGCMFB, .GJX2AKGCJFB, .GJX2AKGCMCB
{background: black !important;}

.GO1CBYXDCCB, .GJX2AKGCMY tr:nth-child(2n), .GJX2AKGCOFB {background: #222 !important;}

.GGV3GFSDAV, .GGV3GFSDICB, .GO1CBYXDP1, .GO1CBYXDJT, .GO1CBYXDK2, #gwt-debug-downloadCsv, .GJX2AKGCDCB, .GJX2AKGCG3
{
    background: black !important;
    background: -moz-linear-gradient(center top , #333333, #000000) repeat scroll 0 0 #000000 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)) !important;
}

.yt-uix-button-arrow
{
    border-color: #888888 transparent !important;
}

.yt-uix-slider-prev-arrow, .yt-uix-slider-next-arrow
{
    border-color: transparent #888888 !important;
}

#masthead-expanded .playlist-bar-item, .vm-video-item-content, #appbar-guide-button
{
    box-shadow: none !important;
}

#watch7-playlist-bar-controls .yt-uix-button, #watch7-playlist-bar-autoplay-button, #watch7-playlist-bar-shuffle-button, #watch7-playlist-bar-toggle-button
{
    background: none !important;
    border: none !important;
}

.yt-uix-slider-shade-right, .yt-uix-expander-arrow, .yt-uix-slider-shade-left, .search-option-expander-link img
{
    background-image: none !important;
}

a,
.video-list-item .title,
#watch-description a {
  color: #999 !important;
}

* {
text-shadow: none !important;
color: #999 !important;}

body>iframe+table table span,body>iframe+table table span b{
  color: #999 !important;
}

a,
.video-list-item .title,
#watch-description a {color: #888 !important;}

a:visited, a:visited font, a:visited .title, a:visited span, .yt-picker-content strong.yt-picker-item, .yt-uix-sessionlink.yt-uix-tile-link.yt-uix-contextlink:visited b, a:visited .yt-ui-ellipsis.yt-ui-ellipsis-2 {color: #6294df !important}

#watch-description-expand, #watch-description-collapse {border-top: 1px solid #555555 !important;}

.video-list-item a, .playlist-video-item, #watch-owner-container, #annotator-div, #watch-stats-options, .watch-stats-private-border, #masthead-expanded, #watch-info, #page #masthead-container
{
border: 0px !important;
}

#masthead-appbar, .yt-uix-button-player-controls, #vm-bulk-actions-editing-buttons, #vm-bulk-actions-editing-header, .feed-item-main, .feed-item-content-wrapper.channel-lockup, .about-subscriptions.branded-page-box-padding, #yt-admin-content, #commands2, #folder_title, #compose-cell,
.branded-page-v2-col-container, .branded-page-v2-top-row, .secondary-header-contents, .vm-promo-opt-in, .guide-item-container:last-child, .guide-item-container.categories-header,
#footer-container, .placeholder.channel-module h3, #guide-reminders ul, .feed-item .feed-item-description, .sorterbar th, #yt-admin-sidebar h2, #yt-admin-content h2, .yt-uix-button.yt-uix-button-primary,
#branded-page-header-container, #yt-admin, #masthead-logo+form #search-btn, #yts-nav .indented, #header, .browse-stage, #content, #masthead-user-wrapper, #watch-owner-container, .comment, .yt-tile-default, .tile, .yt-tile-visible
{
  border: none !important;
  box-shadow: none !important;
}

.guide-item, #masthead-subnav {margin-bottom: 3px !important;}

.guide-section {
margin-top: 7px !important;}
 
#masthead-search-terms, #help, #masthead_child, #subscription-manager-header, #builder-right-column-background, #builder-category-items, #guide-builder-promo, #guide-reminders ul, .album-row, .vm-video-metrics, .vm-video-list .vm-video-item, .guide-background, .yt-tile-default, .yt-tile-visible, .feed-item-visual, .starting-box, .playlist-video-item, #playlist-pane-container, .yt-uix-expander-head, .browse-bg-gradient, #masthead-expanded, .yt-uix-slider-body, .subscription-menu-form, #instructions, .upload-inner-box, .upload-outer-box, #user-navbar, #footer-container, #vm-playlist-header, .guide, #headings td, #yt-admin-recommendations,
#yt-admin, #yt-admin #table, #yt-admin-content h2, #vm-page-subheader, #yt-admin h1, #content, .browse-stage, #watch-headline-container, .watch-expander-head, .watch-headline .subscription-subscribed-container .yt-uix-expander-head, #watch-channel-discoverbox, #watch-sidebar .watch-module-body, .vm-video-list li, #watch-video-annotation, .yt-suggest-unselected, #completeTable, #page.watch-branded #watch-main-container, #page.watch-branded #watch-sidebar, #watch-owner-container, .video-list-item a, a.tile-link-block:focus, #container, #player-playlist .playlist-video
 {
  background: transparent !important;
  background-image: none !important;
  -moz-appearance: none !important;
}

.sorterbar th, .m_highlight,.message.m_highlight td, .subscription-item.odd, #subscription-manager, #yt-admin-sidebar .selected a, #yt-admin-sidebar a.selected, #watch-actions-area, .guide-item-container:not(h3) .guide-item, .menu-item a:hover, .playlist-video-item a:hover, .yt-tile-visible, .yt-tile-default:hover
{
  background: rgba(255,255,255,0.05) !important;
  background-image: none !important;
}
.share-embed-code, #commands2, .video-thumb, #compose_message, #field_reference_video, #subscription-manager .subscription-item:hover, .guide-item-container:not(h3) .guide-item:hover, #yt-admin-sidebar a, .nav-box-gray, .box-gray, #language-picker, #region-picker, #safetymode-picker, a.video-list-item-link:hover, #masthead-subnav a:hover, .watch-expander-head:hover, .watch-headline .subscription-subscribed-container .yt-uix-expander-head:hover, a.video-list-item-link.selected
 {
  background: rgba(255,255,255,0.1) !important;
  background-image: none !important;
  -moz-appearance: none !important;}

.yt-uix-button-menu,
#vm-floater-shadow {
  background: rgba(0,0,0,1) !important;
  background-image: none !important;
  -moz-appearance: none !important;}

.yt-uix-button.yt-uix-button-text .yt-uix-button-arrow {border-top-color: #9A9A9A !important;}
.yt-uix-tooltip-tip-arrow 
{
  vertical-align: top !important;
  border-top-color: #CCC !important;}
  
.yt-uix-tooltip-tip-reverse .yt-uix-tooltip-tip-arrow {
  border-top-color: transparent !important;
  border-bottom-color: #CCC !important;}

.distiller-first-time-promo .arrow, .sb-card-body-arrow {
    border-bottom: 10px #555 solid !important;
}

#yt-masthead-user .yt-uix-button-icon-bell
{
left: 3px !important;
}    
}

@-moz-document url-prefix(https://plus.googleapis.com),
regexp("https://apis\.google\.com/.*/widget/render/comments\?.*\&first_party_property=YOUTUBE.*"),
regexp("https://plus\.google\.com/.*/widget/render/comments\?.*"),
regexp("https://plus\.google\.com/.*/notifications/frame\?.*") {
.yJa, .uPa.BJa, .Mza.mj, .DJa, .tvb {background-color: black !important;}
.dga, .nbc.xta, .zbHZJb
{
background: black !important;
border-color: black !important;
}
.Uk.vKa, .wi.we.Wva, .go, .ho, .nbc.xta {border: 1px #222 solid !important; border-radius: 3px !important;}
.xPa, .yPa, .d-s.L5.r0, .dP.PA, .Hma, .b-c-Ba, .zVeWr.FnlLyd, .d-k-l.b-c.b-c-R:not(.vSH9Nc), .t-Pa-mb-c-oa.t-Pa-mb-c
{
    background: black !important;
    background: -moz-linear-gradient(center top , #333333, #000000) repeat scroll 0 0 #000000 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)) !important;
    border: 1px #444 solid !important;
    border-radius: 3px !important;
}
.esw.eswd.qk.Gc, .Dg.Ut, .Dt.wu, .IO, .KPc.tQb, .sk {border-color: #555 !important;}
.Hma .Pga.d-A:hover, .zVeWr.FnlLyd:hover, .d-k-l.b-c.b-c-R:not(.vSH9Nc):hover, .Kza, .IO, .esw.eswd.qk.Gc, .Dg.Ut, .d-s.L5.r0:hover
{background: #444 !important;}
.KPc.tQb {background: #333 !important;}
.G-q-B, .YH.WD.d-r, .WD.d-r, .G-q, .G-q-O, .QOb, .ROb, .g-h-f-vc-B, .g-h-f-V-Lb, .zta.f4a, .ki.ve,
.qac.kPa, .mac, .Oub.d-r-Gk.d-r, .Rzc, .DM .Cx.fr, .Y8b .TD, .sk, .g-h-f-p-aa, .d-r.d-r-ih
{background: #222 !important;}
.Nza, .Dwa.e4, .cp, .WD .d-A:hover, .vQ.ur, .g-h-f-V-Lb .d-A:hover, .d-A.d-A-yb.X, .MNn0h.UtvBtc,
.aac, .IPc.nfe, .Dt.wu, .Pub.d-A:hover, .d-A.osa:hover, .Up.Dr.tw.Yt
{background-color: #111 !important;}
.Ub {background: none !important;}
.Mga, .xac {display: none !important;}
.zVeWr.FnlLyd, .Ub, .M7Fqc, .vQ.ur, .d-k-l.b-c, .YGETNc:hover {color: #ccc !important;}
.Ig.At.dn.mea, a, .Aq.DK.Bt.UR.gA, .d-s.L5.r0, .Hma, .xPa, .dP.PA, .d-k-l.d-y-r-c-ha,
.d-A-B, .d-s.LEa, .Mpa, .DJa, .df, .d-s.vy, .Ct, .dga, .d-s, .YGETNc, .Y9b .Jub, .Y9b .Hub {color: #999 !important;}
a:visited, a:visited font, a:visited .title, a:visited span, .zbHZJb, .d-s.nq, .d-s.mq {color: #6294df !important;}
.uPc {color: #339900 !important;}
.Kub .vwa {background: #555 !important; border-radius: 5px !important;}
.swb.vac.vwa {padding-right: 10px !important;}
.G-q-Ya {background: rgba(0,0,0,1) !important;}
.d-s.L5.r0, .dP.PA {width: auto !important; margin: auto !important;}
.RQb, .SQb {background-image: url('http://i.imgur.com/NX77Deg.png') !important;}
}
@-moz-document regexp("https://plus\.google\.com/.*/notifications/frame\?.*") {
.WR, .TR, .vy {background: #222 !important;}
}
@-moz-document url-prefix("https://apis.google.com") {
.nbc, .mj {background-color: #000 !important; border-color: #333 !important;}
.Dwa.e4, .RN.Nza.E5, .G-q, .G-q-O, .G-q-B {background-color: #222 !important; border-color: #565656 !important;}
.FnlLyd:hover {background-color: #555; border-color: #565656;}
.df {color: #999 !important;}
.Mga, .Jea {display: none !important;}
}