/* -*- mode: css; -*- */
@import "config.rasi"

window {
  y-offset: 0;
  children: [ listview ];
  width: 500px;
}

listview {
  scrollbar: false;
}

element {
  padding: 30px;
  background-color: @bg-light;
}
element.selected {
  background-color: @accent;
  text-color: @bg;
}
