/* -*- mode: css; -*- */

@import "config.rasi"

listview {
  columns: 1;
}

inputbar {
  width: 1100px;
}

textbox-icon {
  str: "  ";
}

prompt {
  enabled: false;
}

/**
 * Elements are tab-delimited, which look weird in the default variable-pitch
 * font, so use a monospace one.
 */
element {
  font: "Fira Code 12";
}
