[qb-domain="youtube.com"] [is-watch-page] ytd-page-manager {
  margin-top: 0 !important; }
[qb-domain="youtube.com"] [is-watch-page] ytd-masthead {
  background: transparent !important; }
[qb-domain="youtube.com"] [is-watch-page] ytd-masthead::before {
  content: '';
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: var(--yt-swatch-primary);
  opacity: .65;
  z-index: -1; }
[qb-domain="youtube.com"] [is-watch-page] ytd-masthead,
[qb-domain="youtube.com"] [is-watch-page] #masthead-container.ytd-app::after {
  transform: translateY(-56px);
  transition: transform .1s .5s ease-out; }
[qb-domain="youtube.com"] [is-watch-page] #masthead-container:hover ytd-masthead,
[qb-domain="youtube.com"] [is-watch-page] #masthead-container:hover.ytd-app::after {
  transform: translateY(0px); }
[qb-domain="youtube.com"] [is-watch-page] [theater] #player.ytd-watch {
  height: 100vh !important;
  max-height: 100vh !important; }
[qb-domain="youtube.com"] ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy,
[qb-domain="youtube.com"] ytd-watch-flexy[fullscreen] #player-theater-container.ytd-watch-flexy,
[qb-domain="youtube.com"] [is-watch-page] [theater] #player video {
  width: 100% !important;
  height: 100vh !important;
  max-height: 100vh !important;
  max-width: 100% !important;
  left: 0 !important; }
[qb-domain="youtube.com"] [is-watch-page] .ytp-chrome-top.ytp-share-button-visible,
[qb-domain="youtube.com"] [is-watch-page] #iv-drawer .iv-drawer-header,
[qb-domain="youtube.com"] [is-watch-page] #iv-drawer .iv-drawer-content {
  margin-top: 30px; }
[qb-domain="youtube.com"] [is-watch-page] [theater] .ytp-chrome-top.ytp-share-button-visible,
[qb-domain="youtube.com"] [is-watch-page] [theater] #iv-drawer .iv-drawer-header,
[qb-domain="youtube.com"] [is-watch-page] [theater] #iv-drawer .iv-drawer-content {
  margin-top: 56px; }
[qb-domain="youtube.com"] [is-watch-page] .ytp-tooltip.ytp-tooltip-opaque.ytp-bottom {
  right: 60px !important;
  top: 35px !important; }
[qb-domain="youtube.com"] [is-watch-page] [theater] .ytp-tooltip.ytp-tooltip-opaque.ytp-bottom {
  right: 60px !important;
  top: 60px !important; }
