#!/bin/sh

export __GL_THREADED_OPTIMISATIONS=1

running() { pgrep "$1" >/dev/null; }

# wallpaper
feh --bg-scale $HOME/pictures/wallpaper

# mouse acceleration
xset m 11/8 0
# keyboard repeat rate
xset r rate 350 45

# bittorrent sync
running rslsync || { cd $HOME && /usr/local/bin/rslsync; }
# monitor color adjustment based on time-of-day
running redshift || redshift &
# music server
running mpd || mpd &

# remember my keys
running ssh-agent || eval $(ssh-agent)

sxhkd &
# lemonbar config depends on bspwm, so wait for it
{
    while ! running bspwm; do sleep 1; done
    $HOME/.config/panel/panel 2>&1 >$HOME/.config/panel/panel.log &

    # notifications
    dunst &
    # window manager helpers
    compton &

    # If sxhkd isn't running, something is wrong and we're stuck. Instead, open
    # a terminal so I can do something about it
    sleep 3
    running sxhkd || urxvt &
} &
