#!/usr/bin/env bash

export __GL_THREADED_OPTIMISATIONS=1

running() { pgrep "$1" >/dev/null; }

# wallpaper
feh --bg-center $HOME/pictures/wallpaper

# mouse acceleration
xset m 11/8 0
# keyboard repeat rate
xset r rate 350 45

running sxhkd || sxhkd &
# lemonbar config depends on bspwm, so wait for it
{
    while ! running bspwm; do sleep 1; done
    $HOME/.config/panel/panel 2>&1 >$HOME/.config/panel/panel.log &

    # notifications
    running dunst || dunst &
    # window manager helpers
    running compton || compton &

    # If sxhkd isn't running, something is wrong and we're stuck. Instead, open
    # a terminal so I can do something about it
    sleep 3
    running sxhkd || termite &
} &
