! fonts
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

! cursor
Xcursor.theme: default
Xcursor.size: 32

! urxvt
urxvt*background:             [95]#22252c
urxvt*buffered:               true
urxvt*cursorBlink:            true
urxvt*underlineColor:         yellow
urxvt*font:                   xft:Terminus:size=9:antialias=false
urxvt*depth:                  32
urxvt*borderless:             1
urxvt*scrollBar:              false
urxvt*loginShell:             true
urxvt*secondaryScroll:        true
urxvt*saveLines:              5000
urxvt.termName:               rxvt-256color
urxvt.matcher.button:         1
urxvt.urlLauncher:            chromium
urxvt.perl-ext-common:        default,matcher,clipboard
urxvt.keysym.Shift-Control-C: perl:clipboard:copy
urxvt.keysym.Shift-Control-V: perl:clipboard:paste
urxvt.clipboard.autocopy:     true

! rofi
rofi.background:       #22252c
rofi.foreground:       #efefef
rofi.font:             Fira Mono Medium 18
rofi.location:         0
rofi.levenshtein-sort: 1
rofi.hide-scrollbar:   true
rofi.bw:               0
rofi.padding:          60
! rofi.fullscreen:       true
rofi.lines:            12
rofi.opacity:          96
rofi.line-margin:      15
rofi.width:            50
rofi.monitor:          0

rofi.color_enabled: true
!                  bg       border
rofi.color-window: #20232a, #444449
!                  bg       fg       bgalt    hlbg     hlfg
rofi.color-normal: #20232a, #7b828f, #20232a, #20232a, #7fa1ed
rofi.color-urgent: #20232a, #7b424f, #20232a, #20232a, #7fa1ed
rofi.color-active: #20232a, #7b828f, #20232a, #20232a, #7fa1ed
! 262930

! special
*.background:   #22252c
*.foreground:   #e5e8e6
*.cursorColor:  #81a2be

! black
*.color0:       #282a2e
*.color8:       #474b51
! red
*.color1:       #a54242
*.color9:       #cc6666
! green
*.color2:       #8c9440
*.color10:      #b5bd68
! yellow
*.color3:       #de935f
*.color11:      #f0c674
! blue
*.color4:       #8fb1cd
*.color12:      #b1d2ee
! magenta
*.color5:       #85678f
*.color13:      #b294bb
! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7
! white
*.color7:       #606870
*.color15:      #f5f8f6
