/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */

@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml)
{
  /*** TAB BAR ***/
  :root {
    --tab-min-height: 32px !important;
  }

  /* Hide tabbar if only one tab */
  @import url(./css/tabs-hide-if-only-one.css);

  /* Hide the close button */
  .tabbrowser-tab .tab-close-button { display: none !important; }

  /* Replace favicon on tabs with close button on mouse hover */
  /* .tabbrowser-tab .tab-close-button { -moz-box-ordinal-group: 0 !important; } */
  /* .tabbrowser-tab:not(:hover) .tab-close-button, */
  /* .tabbrowser-tab:not([pinned]):hover .tab-icon-stack { display: none !important; } */
  /* .tabbrowser-tab:not([pinned]):hover .tab-close-button { display: block !important; } */

  /* Hide the "all tabs" button */
  #wrapper-alltabs-button { display: none !important; }
  /* Hide the search engine suggestions at bottom of completion window */
  #urlbar .urlbarView .search-one-offs { display: none !important; }


  /*** NAV BAR ***/
  /* Hide urlbar */
  #nav-bar:not([customizing=true]) {
    position: relative !important;
    z-index: 2 !important;
    height: 2px !important;
    min-height: 2px !important;
    margin-bottom: -2px !important;
    opacity: 0 !important;
    border: none !important;
  }

  /* ...but unfocus it when we invoke it with ctrl+L */
  #nav-bar:focus-within {
    height: auto !important;
    margin-bottom: 0px !important;
    opacity: 1 !important;
    overflow: show !important;
  }

  #urlbar-container {
    min-height: 0 !important;
  }

  #urlbar {
    top: 0 !important;
  }

  #urlbar-input-container {
    height: 28px !important;
  }

  /*** Load local overrides ***/
  @import url(./userChrome.local.css);
}
