[user]
	name = Henrik Lissner
	email = henrik@lissner.net

[github]
	user = hlissner

[core]
	excludesfile = ~/.gitignore
	whitespace = trailing-space

[color]
	ui = true

[diff]
	tool = vdiff
[difftool "vdiff"]
	prompt = false
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[difftool "ediff"]
	cmd = emacsclient -c --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
	tool = vmerge
[mergetool "vmerge"]
	cmd           = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
[mergetool "emerge"]
	cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[rebase]
	autosquash = true
[push]
	default = simple

[alias]
	root = rev-parse --show-toplevel
	undo-commit = reset --soft "HEAD^"
	amend = commit --amend
	ls = ls-files
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	unadd = reset HEAD
	ammend = commit --amend
	exec = "!exec "
	orphan = checkout --orphan

	# data analysis
	authors = !git log --format="%aN" | sort -u
	ranked-authors = !git authors | sort | uniq -c | sort -n
	emails = !git log --format="%aE" | sort -u
	email-domains = !git log --format="%aE" | awk -F'@' '{print $2}' | sort -u
