[qb-domain$="quora.com"] {
/* Quora Theme v1.2.10 (2018-06-08)
  * https://github.com/StylishThemes/Quora-Dark
  * https://userstyles.org/styles/104706
  * License: http://sam.zoy.org/wtfpl/
  */
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  html, body:not(.logged_out_page_big_signup) {
    background-color: #222 !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAGFBMVEUfHx8eHh4dHR0bGxshISEiIiIlJSUjIyM9IpsJAAAFjUlEQVR4AT3UuZLcOBaF4QuI2XJxboIhF/eQFe1WovoBAAqccpkaZpc5+4yrXa8/RGpx/lrIXPjFCYjTp9z8REqF4VYNWB3Av3zQJ6b6xBwlKB/9kRkCjXVwGH3ziK5UcjFHVkmgY6osiBsGDFfseqq2ZbTz7E00qBDpzOxnD7ToABeros1vM6MX0rBQaG1ith1A/HJkvkHxsPGJ82dP8vVCyWmbyPTaAfGzg40bgIdrv2f3pBVPycUcufx+BSUUWDuCZi6zBqdM50ElKYPODqtLDjc31rBb9CZ59lbN/JScuMxHLUBcGiy6QRH9zpwgZGhRj8qSydPVgNNVgbWqYX3HbM9K2rqTnKVmsmwKWzc1ffEd20+Zq3Ji65kl6TSjALNvzmJt4Pi2f1etytGJmy5erLAgbNY4bjykC3YCLIS3nSZMKgwRsBarWgjdeVzIEDzpTkoOUArTF4WFXYHwxY585sT0nmTYMxmXfs8fzwswfnam8TMU49bvqSRnyRPnqlno4tVQQiH2A9Za8tNTfXQ0lxbSxUaZna0uLlj9Q0XzD96CpsOZUftolINKBWJpAOoAJC0T6QqZnOtfvcfJFcDrD4Cuy5Hng316XrqzJ204HynyHwWed6i+XGF40Uw2T7Lc71HyssngEOrgONfBY7wvW0UZdVAma5xmSNjRp3xkvKJkW6aSg7PK4K0+mbKqYB0WYBgWwxCXiS74zBCVlEFpYQDEwjcA1qccb5yO6ZL8ozt/h3wHSCdWzLuqxU2ZZ9ev9MvRMbMvV9BQgN0qrFjlkzPQanI9nuaGCokVK2LV1Y2egyY1aFQGxjM9I7RBBAgyGEJtpKHP0lUySSeWCpyKHMT2pmM/vyP55u2Rw5lcSeabAfgiG5TPDX3uP3QvcoSipJXQByUCjS4C8VXqxEEZOJxzmJoyogFNJBRsCJs2XmoWWrWFqTsnbwtSn43gNFTTob9/SEpaPJNhUBKDGoZGCMINxvBv8vuKbb//lg/sK0wfPgBica/QsSk5F3KK4Ui6Yw+uv4+DWEOFbhdPOnbY5PLFpzrZMhakeqomY0Vz0TO+elQGTWdCk1IYFAOaoZg0IJQhT+YreXF+yia+O1cgtGufjXxQw28f85RPXfd15zv13ABoD15kB7FKJ/7pbHKP6+9TgNgkVj68NeV8Tp24f7OOndCgJzR3RNJBPNFReCmstMVqvjjzBoeK4GOFoBN32CPxu+4TwwBDa4DJTe/OU9c9ku7EGyfOVxh+fw9g/AATxPqKTEXJKEdCIBkB4iBUlO6MjUrWi6M5Kz31YAqFsYaCeB0KJC5d1+foo3LQWSfRaDrwdAQrMEC27yDZXJf7TlOJ2Bczr1di3OWvZB6XrvvqPuWJPDk9dAHgm7LvuZJTEdKqO3J3XgostArEnvkqgUznx3PX7cSzz1FXZyvakTA4XVVMbCPFPK1cFj66S0WoqQI1XG2uoU7CMPquO2VaUDJFQMdVgXKD2bpz6ufzzxXbxszHQ9fGO/F7A998yBQG6cShE+P+Pk7t1FwfF1QHN1Eui1VapRxCdj8tCtI1bog1Fo011Sx9u3o6c9bufI6wAT26Av9xJ+WWpTKbbBPp3K/1LbC4Vuhv396RCbJw4untjxVPndj+dIB9dVD8z2dylZ+6vMeJwbYChHJkvHV2J3fdHsJPASeHhrXq6QheXu1nBhUr5u6ryT0I13BFKD01ViZ/n3oaziRG7c6Ayg7g1LPeztNdT36ueMqcN4XGv3finjfv+7I/kMJ4d046MUanOA1QtMH1kLlfFasm99NiutSw63yNDeH4zeL1Uu8XKHNfcThPSSNwchGMbgUETScwkCcK77pH2jsgrAssvVyB8FLJ7GrmwyD8eVqsHoY/FwIv9T7lPu9+Yf8/9+w4nS1ma78AAAAASUVORK5CYII=) !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
background-size: auto !important;
background-position: left top !important;
  }
  /* action buttons */
  .AddQuestionFromHeaderDialogButton, .submit_button, .primary_button,
  .MoreStoriesIndicator {
    background-color: #4183C4 !important;
    border-color: #4183C4 !important;
    color: #e2e2e2 !important;
  }
  .AddQuestionFromHeaderDialogButton:hover, .submit_button:hover,
  .primary_button:hover, .MoreStoriesIndicator:hover {
    opacity: .8 !important;
  }
  /* text selection */
  ::selection {
    background-color: #4183C4 !important;
    color: #efefef !important;
  }
  ::-moz-selection {
    background-color: #4183C4 !important;
    color: #efefef !important;
  }
  /*** background ***/
  .ActionBar, .FeedStoryTimestamp, .FeedStoryTimestamp hr, .interval_timestamp,
  .feed_item, .NotificationItem.seen, .edit_faq_link, .title a,
  .editor_toolbar .modifier.overflow_show:before,
  .editor_toolbar .modifier.overflow_hide:before,
  .FollowSuggestionCard.InlineFollowSuggestionCard, .seen, .Message, .ObjectCard,
  .ObjectCard-footer, .ContentFeedTabs li.active a, .SiteHeader .dropdown,
  .hover_highlight:hover, .question_related.list, .Modal .modal_header,
  .Modal .modal_content .modal_non_exp, .Modal .modal_content,
  .answer_editor.on_draft_page .AnswerEditorHeader,
  .answer_editor.on_draft_page .form_buttons, .MessagesMain .header,
  .MessagesMain .threads_and_messages .threads, .MessagesThreadItem,
  .NewInboxThreadComposeMessageBox, .PinnedTopicHeader, .full_bundle,
  .AnswerReadLaterListItem, .StatsMain .ContentListWrapper, .ContentListItem,
  .AllContentLink, .AskQuestionPromptBundle, .LoggedOutFooter,
  .AMAFeedDividerItem h3, .layout_1col_main_card {
    background: transparent !important;
  }
  .check_wrapper.complete .check, .QuestionMain .right_col_fixable,
  .RelatedQuestions, .RelatedQuestionsAdWrapper, .AddQuestionPrompt,
  .StoryItemToggleModal, .AMACoverPhoto, .landing_photo {
    background-color: transparent !important;
  }
  .is_removable .remove_link {
    background-image: none !important;
  }
  input, textarea, .fake_editor, .qtext_editor.pretty_q, .qtext_editor_content,
  .write_answer, .inline_login_profile_box, .qtext_button_qimg a,
  .tooltip_contents, .codeblock, .remove_upvote, .ExistingUserNuxProgressBar,
  .QuestionActionBarA2APrompt, .ViewsOnProfile .nux, .modal_wrapper,
  pre.prettyprint, .Editor .doc, .Editor.Comment, .LogOperation .revision,
  .ContentFeedTabs li a, .quiet_notifs_banner, .LookupBarSelector .instruction,
  .new_user_checklist .title, .Carousel .left, .Carousel .right,
  .StoryItemToggleModal.read_item, .notif_dropdown_empty_state, .individual_bio,
  .AMACoverBar, .selector_result.ask_new_question .AskQuestionButton,
  .icon_action_bar.sticky {
    background-color: #181818 !important;
  }
  .SiteHeader, .answer_header_and_editor, .LoggedOutContentPageFeed,
  .hover_menu_contents, .notifications_header_bar, .dialog_wrapper,
  .new_user_checklist, .results_frame li, .container, .FeedBottomIndicator,
  .ActionBar.sticky, .ExistingUserNuxSidebar, .hover_menu_item,
  .Announcement .footer, .EditableList .nav_item_selected a,
  .EditableList .StaticListItem > .selected, .ask_interstitial,
  .ViewsOnHovercard, .search_input:before, .editor_toolbar,
  .NewGridQuestionPage .header .shared_form, .ProgressBar, .AnswerTagSection,
  .CompleteProfileSection, .Next, .add_experience_cta, .ViewsOnProfile:hover,
  .banner_answer, .prettyprint .linenums li:before, .heads_up_item,
  .QuestionBannerReason, .Selector .SelectorResults, .Carousel .left:hover,
  .Carousel .right:hover, .graphs .detail .x_label, .graphs .detail .item,
  /*** Pinned topic header ***/
  div.fixable_clone .PinnedTopicHeader.fixable_fixed,
  .AnswerSurvey {
    background: #222 !important;
  }
  .topic_pill, .ViewMoreLink a, .BelowQuestionAddPrompt,
  /*** Make cookie banner dark ***/
  .CookieBanner .wrapper,
  .CookieBanner .dismiss {
    background-color: #222 !important;
  }
  .threaded_comments, .comment_replies_show_child_link,
  .AnswerBase.undesirable_answer, .CompleteProfileBanner,
  .topic_expert_application_form, .comments_preview_toggle, .show_child_link,
  .modal_nux_background, .modal_signup_background {
    background-color: rgba(34, 34, 34, .6) !important;
  }
  .ContentPageFeed {
    background-color: rgba(34, 34, 34, .3) !important;
  }
  .read_more_link, .unseen, .action_button, .NextButton, .modal_footer,
  .AnswerPageViewMoreLink, .multifeed_header .modal_related_answers .view_more {
    background: #242424 !important;
  }
  .count, .ContentPageFeedStoryItem, .nav_item_link.hover, .nav_item_link:hover,
  .nav_item_link:active, li.selected, .follow_state_badge,
  .NotificationsClearLink, .LegalNavLinks, .hover_menu_item:hover,
  .MoveAnswerBanner, .ActionBar .primary_action, .ReAskButton.button,
  .AskToAnswerModalLink, .MostWantedBadge,
  .CollapsedAnswersSectionCollapsed:not(.CollapsedAnswersSectionUncollapsed) .content,
  .RequestAnswersDrawer .inner, .RADToggle.is_active, .Announcement {
    background-color: #282828 !important;
  }
  .menu_list_item a:hover, .completed:hover, .menu_list_header:hover,
  .AnswerEditorHeader, .AddQuestionLookupBarButton,
  .SelectorResults .selector_highlighted:not(.unselectable),
  .AnswerPageViewMoreLink .view_more_link:hover,
  .multifeed_header .modal_related_answers .view_more .view_more_link:hover,
  .content_white_button, .survey_button, .icon_action_bar-button:hover,
  .outer_content .new_actionbar_content_button:hover,
  .Bundle .view_all_button:hover, .Bundle .more_button:hover,
  a[target="_blank"]:hover {
    background-color: #333 !important;
  }
  .count:before, .qtext_hr {
    background-color: #444 !important;
  }
  /* overlay */
  .ContentPageFeedStoryItem:hover .feed_item_overlay,
  .dialog:not(.dialog_nux):not(.modal_signup_dialog):after {
    background: rgba(0, 0, 0, .5) !important;
  }
  /*** text color ***/
  a, a span, a:hover .TopicName, .is_removable .remove_link:hover {
    color: #4183C4 !important;
  }
  h1, h2, h3, h4, h5, h6, blockquote, div, div > span, span > span, li, input,
  textarea, a.submit_button span, a.primary_button span, interval_timestamp,
  .tooltip_contents span, .nav_item_link .badge, .hover_menu_header_link,
  .topic_pill a, .ViewMoreLink a, .is_removable .remove_link,
  .NotifsNavItem .NotifsNavBadge, .LookupBarAskQuestionModalButton .button_text {
    color: #c0c0c0 !important;
  }
  .faded, .add_upvote, .add_upvote .count, .remove_upvote, .remove_upvote .count,
  .table_cell_wrapper a span {
    color: #949494 !important;
  }
  .graphs text {
    fill: #eee !important;
  }
  .graphs rect:hover {
    fill: #357 !important;
  }
  /*** borders ***/
  .dialog .close_modal, .pagedlist_item.pagedlist_invisible,
  .comment_highlight_wrapper, .hover_menu_above li:first-child:after,
  .ContentFeedTabs li.active a {
    border-color: transparent !important;
  }
  .search_focused .selector_input.text, .ask_bar .LookupBarSelector textarea {
    border-color: #4183C4 !important;
  }
  h1, h2, h3, table, table th, hr, ul, li, div, span, p, blockquote, a,
  .hover_menu_contents, .question_box, .show_reply_box_link,
  .QuestionActionBarA2APrompt, input, .seen, .Carousel .left, .Carousel .right,
  .AMAFeedDividerItem:before {
    border-color: #333 !important;
  }
  .ActionBar .primary_action:hover, .primary_item a:hover,
  .AddQuestionLookupBarButton:hover {
    border-color: #555 !important;
  }
  /* outline */
  .Carousel .left, .Carousel .right {
    outline-color: #333 !important;
  }
  /* arrow */
  .hover_menu_contents li:first-child:after,
  .MoreHoverMenuContents > ul > li:first-child:after, .hover_menu:before,
  .hover_menu:after, .header_hover_menu:after, .results_wrapper:before,
  .resistance_wrapper:after, .comment_replies_show_child_link:before,
  .comment_replies_show_child_link:after, .results_wrapper:after,
  .action_bar_button_nub:before {
    border-bottom-color: #333 !important;
  }
  .hover_menu_above:before, .hover_menu_above:after, .hover_menu.show_nub:after,
  .hover_menu_above li:last-child:before,
  .hover_menu .menu_list_item:hover:before {
    border-top-color: #333 !important;
    border-bottom-color: transparent !important;
  }
  .hover_menu_above li:last-child:after,
  .tooltip .tooltip_contents.nub_bottom:after {
    border-top-color: #222 !important;
    border-bottom-color: transparent !important;
  }
  .HomeNavListHoverMenu:before {
    border-right-color: #222 !important;
  }
  .action_bar_button_nub:after, .hover_menu.show_nub:before,
  .menu .menu_list_item:before, .hover_menu .menu_list_item:before {
    border-bottom-color: #282828 !important;
  }
  /*** Red ***/
  .diffdelete {
    background-color: #300 !important;
  }
  /*** Green ***/
  .follow_button {
    background: #041 !important;
    border-color: #062 !important;
    color: #0a3 !important;
  }
  .follow_button .count {
    background: #041 !important;
    color: #aaa !important;
  }
  .diffinsert {
    background: #020 !important;
  }
  /*** Blue ***/
  .notifications_banner, .add_upvote, .User.Button, .follow_button,
  .ama_a2a_question, .Topic.Button, .Session.Button, .PileOnRequest.Button {
    background: #182030 !important;
    border: 1px solid #246 !important;
  }
  .add_upvote .count, .User.Button .count, .Editor .drop_zone, .view_answer,
  .InviteToFollow, .WriteAnswer, .ReAsk.Button:not(.link), .follow_button,
  .Topic.Button, .RequestAnswer, .Topic.Button .count, .RequestAnswer .count,
  .link:hover, .filter_option_link:hover, .filter_option_link.selected,
  .RADToggle, .NotificationsClearButton, .link.selected {
    background-color: #182030 !important;
  }
  .Editor .drop_zone, .view_answer, .InviteToFollow, .WriteAnswer,
  .ReAsk.Button:not(.link), .follow_button, .Topic.Button, .RequestAnswer,
  .RADToggle {
    border-color: #246 !important;
  }
  .graphs rect {
    fill: #246 !important;
  }
  /*** Brown ***/
  .InteractionModeBanner>div, .ErrorBanner>div, .BrowserWarning>div,
  .ReAskPrompt, .PMsg .contents {
    background: #321 !important;
    border-color: #542 !important;
    color: #b74 !important;
  }
  .ReAskPrompt:before, .ReAskPrompt:after {
    border-bottom-color: #542 !important;
  }
  /*** hide text selection popup ***/
  .quote_hover_menu {
    display: none !important;

  }
  /*** Make the popup answer's background transparent black. ***/
  .modal_overlay.feed_desktop_modal,
  /*** Make the messages black instead of white. ***/
  .MessagesThreadItem:hover,
  .MessagesThreadItem.active {
    background: rgba(0, 0, 0, .9);
  }
  /*** Make the answer hover colour a dark black one. ***/
  .toggle_modal_inline.inline_modal_highlight:hover {
    background-color: #050505;
  }
  .matched_term {
    background-color: rgba(187, 85, 0, .4) !important;
    background-color: rgba(65, 131, 196, .4) !important;
  }
  /*** Make ask question buttons necessarily red, and their text gray ***/
  .AskQuestionButton .button_text {
    color: #efefef !important;
  }
  .BelowQuestionAddPrompt .AskQuestionButton {
    background-color: rgb(185, 43, 39) !important;
  }
  /*** Darken related question link underline color ***/
  .question_link:hover .ui_story_title {
    text-decoration-color: #c0c0c0 !important;
  }
}
