[qb-domain="youtube.com"] {
  [is-watch-page] ytd-page-manager {
    margin-top: 0!important;
  }

  [is-watch-page] ytd-masthead {
    background: transparent!important;
  }
  [is-watch-page] ytd-masthead::before {
    content: '';
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    background: var(--yt-swatch-primary);
    opacity: .65;
    z-index: -1;
  }

  [is-watch-page] ytd-masthead,
  [is-watch-page] #masthead-container.ytd-app::after {
    transform: translateY(-56px);
    transition: transform .1s .5s ease-out;
  }
  [is-watch-page] #masthead-container:hover ytd-masthead,
  [is-watch-page] #masthead-container:hover.ytd-app::after {
    transform: translateY(0px);
  }

  [is-watch-page] [theater] #player.ytd-watch {
    height: 100vh!important;
    max-height: 100vh!important;
  }

  ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy,
  ytd-watch-flexy[fullscreen] #player-theater-container.ytd-watch-flexy,
  [is-watch-page] [theater] #player video {
    width: 100%!important;
    height: 100vh!important;
    max-height: 100vh!important;
    max-width: 100%!important;
    left: 0!important;
  }

  [is-watch-page] .ytp-chrome-top.ytp-share-button-visible,
  [is-watch-page] #iv-drawer .iv-drawer-header,
  [is-watch-page] #iv-drawer .iv-drawer-content {
    margin-top: 30px;
  }

  [is-watch-page] [theater] .ytp-chrome-top.ytp-share-button-visible,
  [is-watch-page] [theater] #iv-drawer .iv-drawer-header,
  [is-watch-page] [theater] #iv-drawer .iv-drawer-content {
    margin-top: 56px;
  }

  [is-watch-page] .ytp-tooltip.ytp-tooltip-opaque.ytp-bottom {
    right: 60px!important;
    top: 35px!important;
  }

  [is-watch-page] [theater] .ytp-tooltip.ytp-tooltip-opaque.ytp-bottom {
    right: 60px!important;
    top: 60px!important;
  }
}
