@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml)
{
  /*** TAB BAR ***/
  /* Tabs below the address bar */
  #nav-bar         { -moz-box-ordinal-group: 1 !important; }
  #PersonalToolbar { -moz-box-ordinal-group: 2 !important; }
  #titlebar        { -moz-box-ordinal-group: 3 !important; }

  /* Tabs at bottom of window */
  /* #TabsToolbar { */
  /*   transform: translateY(100vh) !important; */
  /*   z-index: 999999 !important; */
  /* } */
  /* #navigator-toolbox { */
  /*   margin-top: calc(0px - var(--tab-min-height)) !important; */
  /* } */
  /* #browser-panel { */
  /*   padding-bottom: var(--tab-min-height) !important; */
  /* } */

  /* :root:not([tabsintitlebar]) #TabsToolbar              { -moz-box-ordinal-group: 0 !important; } */
  /* :root:not([tabsintitlebar]) #toolbar-menubar          { -moz-box-ordinal-group: 1 !important; } */
  /* :root:not([tabsintitlebar]) #nav-bar                  { -moz-box-ordinal-group: 2 !important; } */
  /* :root:not([tabsintitlebar]) #PersonalToolbar          { -moz-box-ordinal-group: 3 !important; } */
  /* :root:not([tabsintitlebar]) #navigator-toolbox::after { -moz-box-ordinal-group: 4 !important; } */

  /* Hide tabbar if only one tab */
  @import url(./css/tabs-hide-if-only-one.css);

  /* Replace favicon on tabs with close button on hover */
  .tabbrowser-tab:not(:hover) .tab-close-button,
  .tabbrowser-tab:not([pinned]):hover .tab-icon-image { display: none !important; }
  .tabbrowser-tab:not([pinned]):hover .tab-close-button { display:block !important; }

  .tabbrowser-tab:hover .tab-throbber,
  .tabbrowser-tab:hover .tab-icon-image,
  .tabbrowser-tab:hover .tab-sharing-icon-overlay,
  .tabbrowser-tab:hover .tab-icon-overlay,
  .tabbrowser-tab:hover .tab-label-container,
  .tabbrowser-tab:hover .tab-icon-sound {
    -moz-box-ordinal-group: 2 !important;
  }

  .tabbrowser-tab .tab-close-button {
    margin-left: -2px !important;
    margin-right: 4px !important;
  }

  .tab-close-button:hover {
    fill-opacity: 0 !important;
  }

  .tabbrowser-tab::after,
  .tabbrowser-tab::before {
    border-left: none !important;
    border-right: none !important;
  }

  .scrollbutton-up[orient="horizontal"]~spacer { border-width: 0px; opacity: 0 }


  /*** NAV BAR ***/
  /* Hide urlbar */
  #nav-bar {
    position: relative !important;
    z-index: 1 !important;
    height: 2px !important;
    min-height: 2px !important;
    margin-bottom: -2px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    border: none !important;
  }

  #nav-bar:hover {
    height: auto !important;
    margin-bottom: 0px !important;
    opacity: 1 !important;
    overflow: hidden !important;
  }

  #nav-bar:focus-within {
    height: auto !important;
    margin-bottom: 0px !important;
    opacity: 1 !important;
    overflow: show !important;
  }

  #content-deck{
    position: relative !important;
    z-index: 0 !important;
  }


  /*** Load local overrides ***/
  @import url(./userChrome.local.css);
}
