! fonts
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

! cursor
Xcursor.theme: default
Xcursor.size: 32

! emacs
Emacs.toolBar: 0
Emacs.menuBar: 0
Emacs.verticalScrollBars: off
Emacs.font: Fira Mono 10

! urxvt
URxvt*.buffered:               true
URxvt*.cursorBlink:            true
URxvt*.underlineColor:         grey
URxvt*.borderless:             1
URxvt*.internalBorder:         6
URxvt*.scrollBar:              false
URxvt*.secondaryScroll:        true
URxvt*.saveLines:              5000
URxvt*.loginShell:             false
URxvt*.perl-ext-common:        default,matcher
URxvt*.matcher.button:         1
URxvt*.url-launcher:           firefox
URxvt*.matcher.rend.0:         Uline Bold fg5
URxvt*.font:                   xft:Fira Mono:size=9
urxvt-scratch.font:            xft:Fira Mono:size=10
URxvt*.letterSpace:            -1
urxvt-fuzzy.font:              xft:Fira Mono:size=14
urxvt-fuzzy.internalBorder:    15

! rofi
rofi.font:             Fira Mono Medium 18
rofi.location:         0
rofi.levenshtein-sort: 1
rofi.hide-scrollbar:   true
rofi.bw:               0
rofi.padding:          60
! rofi.fullscreen:       true
rofi.lines:            12
rofi.opacity:          96
rofi.line-margin:      15
rofi.width:            50
rofi.monitor:          0

rofi.color_enabled: true
!                  bg       border
rofi.color-window: #20232a, #444449
!                  bg       fg       bgalt    hlbg     hlfg
rofi.color-normal: #20232a, #9ba2af, #20232a, #20232a, #7fa1ed
rofi.color-urgent: #20232a, #9b626f, #20232a, #20232a, #7fa1ed
rofi.color-active: #20232a, #9ba2af, #20232a, #20232a, #7fa1ed
! 262930

! special
*.background:   #12151c
*.foreground:   #e8eae9
*.cursorColor:  #81a2be

! black
*.color0:       #282a2e
*.color8:       #474b51
! red
*.color1:       #a54242
*.color9:       #cc6666
! green
*.color2:       #8c9440
*.color10:      #b5bd68
! yellow
*.color3:       #de935f
*.color11:      #f0c674
! blue
*.color4:       #8fb1cd
*.color12:      #b1d2ee
! magenta
*.color5:       #85678f
*.color13:      #b294bb
! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7
! white
*.color7:       #606870
*.color15:      #f5f8f6
