! fonts
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

! cursor
Xcursor.theme: default
Xcursor.size: 32

! emacs
Emacs.toolBar: 0
Emacs.menuBar: 0
Emacs.verticalScrollBars: off

! urxvt
URxvt*.buffered:               true
URxvt*.cursorBlink:            true
URxvt*.underlineColor:         grey
URxvt*.borderless:             1
URxvt*.internalBorder:         6
URxvt*.scrollBar:              false
URxvt*.secondaryScroll:        true
URxvt*.saveLines:              5000
URxvt*.loginShell:             false
URxvt*.perl-ext-common:        default,matcher
URxvt*.matcher.button:         1
URxvt*.url-launcher:           firefox
URxvt*.matcher.rend.0:         Uline Bold fg5
URxvt*.letterSpace:            -1
URxvt*.font:                   xft:Fira Mono:size=8
urxvt-scratch.font:            xft:Fira Mono:size=9
urxvt-fuzzy.font:              xft:Fira Mono:size=14
urxvt-fuzzy.internalBorder:    15

! rofi
rofi.font:             Fira Mono Medium 18
rofi.location:         0
rofi.levenshtein-sort: 1
rofi.hide-scrollbar:   true
rofi.bw:               0
rofi.padding:          60
! rofi.fullscreen:       true
rofi.lines:            12
rofi.opacity:          96
rofi.line-margin:      15
rofi.width:            50
rofi.monitor:          0

rofi.color_enabled: true
!                  bg       border
rofi.color-window: #20232a, #444449
!                  bg       fg       bgalt    hlbg     hlfg
rofi.color-normal: #20232a, #9ba2af, #20232a, #20232a, #7fa1ed
rofi.color-urgent: #20232a, #9b626f, #20232a, #20232a, #7fa1ed
rofi.color-active: #20232a, #9ba2af, #20232a, #20232a, #7fa1ed
! 262930

! special
*.foreground:  #ABB2BF
*.background:  #282c34
*.cursorColor: #5C6370

! black
*.color0:  #1E2127
*.color8:  #5C6370
! red
*.color1:  #CC626A
*.color9:  #E06C75
! green
*.color2:  #98C379
*.color10: #A7D685
! yellow
*.color3:  #da8548
*.color11: #ECBE7B
! blue
*.color4:  #3E86B8
*.color12: #51afef
! magenta
*.color5:  #a9a1e1
*.color13: #C678DD
! cyan
*.color6:  #4db5bd
*.color14: #56B6C2
! white
*.color7:  #ABB2BF
*.color15: #FFFFFF
